Repository dalkdev/owl-fractal-github-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint --fix

.lintstagedrc.json:

{
  "src/js/**/*.{ts,js}": "yarn eslint --fix",
  "*.{scss,css}": "yarn stylelint --fix"
}

Komment-Sektion
  src/components/modules/diskutieren-button/diskutieren-button.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]registrierung/[anzeigenservice]registrierung--copy3.hbs
  src/css/app.scss
  src/css/modules/eng.scss
Due: yarn stylelint --fix

Komment-Sektion bearbeiten
  src/components/modules/diskutieren-button/diskutieren-button.hbs
Due: none

a:hover a:focus für Lesepaten-accordion hinzufügen
  src/css/modules/lesepaten-accordion.scss
Due: yarn stylelint --fix

hk-preisliste bauen
  src/components/modules/preisliste/preisliste-hk/preisliste-hk.config.json
  src/components/modules/preisliste/preisliste-hk/preisliste-hk.hbs
  src/components/modules/preisliste/preisliste-nw/preisliste-nw.config.json
  src/components/modules/preisliste/preisliste-nw/preisliste-nw.hbs
Due: none

artikel-neben-paywall bearbeiten
  src/components/modules/articles/article-neben-paywall/article-neben-paywall.hbs
Due: none

artikel-neben-paywall- width bearbeiten
  src/components/modules/articles/article-neben-paywall/article-neben-paywall.hbs
Due: none

Lesepaten-werden-Schritte bauen
  src/components/modules/gewinnspiel/gewinnspiel.config.json
  src/components/modules/gewinnspiel/gewinnspiel.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--daten.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--fertig.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--profil.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--profile-erfolgreich.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--schule.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte.config.js
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte.hbs
Due: none

Lesepaten-werden-Schritte bauen
  src/components/modules/gewinnspiel/gewinnspiel.config.json
  src/components/modules/gewinnspiel/gewinnspiel.hbs
  src/components/pages/lesepaten/inhaltseite-ohne-header-und-footer/inhaltseite-ohne-header-und-footer.hbs
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--daten.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--fertig.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--profil.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--profile-erfolgreich.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--schule.hbs
  src/js/modules/lesepaten.js
  tailwind.config.js
Due: yarn eslint --fix

Lesepaten-werden-Funktion bauen
  src/components/modules/social-icons/social-icons--with-tooltip.hbs
  src/components/pages/lesepaten/detailseite/detailseite.hbs
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--daten.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--fertig.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--profil.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--schule.hbs
Due: none

lesepatenwerden bauen
  src/components/pages/lesepaten/inhaltseite-ohne-header-und-footer/inhaltseite-ohne-header-und-footer.hbs
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--fertig.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--profil.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--schule.hbs
  src/css/modules/lesepaten-fix.scss
  tailwind.config.js
Due: yarn stylelint --fix

Slider korrigieren und einige Änderungen in der Lesepaten-Seite
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--daten.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--schule.hbs
  src/js/modules/embla-slider.ts
Due: yarn eslint --fix

javascriptcode optimieren
  src/js/modules/embla-slider.ts
Due: yarn eslint --fix

eine Klasse hinzufügen
  src/components/pages/landing-pages/digitale-angebote/full-page/full-page.hbs
  src/css/modules/_embla-slider.scss
Due: yarn stylelint --fix

Lesepaten Formular bearbeiten
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--fertig.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--schule.hbs
Due: none

Lesepaten-Anmelden bearbeiten
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--fertig.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--schule.hbs
Due: none

(Neue Änderungen im Design) Formular bearbeiten
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--daten.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--schule.hbs
Due: none

Formular-Validirung bauen und HK Preisliste bearbeiten
  src/components/modules/preisliste/preisliste-hk/preisliste-hk.hbs
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--daten.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--fertig.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--profile-erfolgreich.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--schule.hbs
  src/js/modules/lesepaten.js
Due: yarn eslint --fix

Die Werten von Input- Felder nehmen und auf einer anderen Seite anzeigen
  src/components/modules/preisliste/preisliste-hk/preisliste-hk.hbs
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--fertig.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--profile-erfolgreich.hbs
Due: none

Neue Änderungen in der Lesepaten-werden-Seite
  src/components/pages/lesepaten/inhaltseite-ohne-header-und-footer/inhaltseite-ohne-header-und-footer.hbs
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--daten.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--fertig.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--profile-erfolgreich.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--schule.hbs
Due: none

Sternchen hinzufügen
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--schule.hbs
Due: none

Ein Wort beheben
  src/components/pages/lesepaten/inhaltseite-ohne-header-und-footer/inhaltseite-ohne-header-und-footer.hbs
Due: none

in den Stifte-Buttons zur nächste Seite immer springen .
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
  src/components/pages/lesepaten/patewerden-schritte/patewerden-schritte--fertig.hbs
Due: none

checkbox Funktion bearbeiten
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
  src/js/modules/lesepaten.js
Due: yarn eslint --fix

Preisliste bearbeiten
  src/components/modules/preisliste/preisliste-hk/preisliste-hk.hbs
Due: none

check.open-login-Funktion hinzufügen
  src/js/app.ts
  src/js/modules/check-open-login.js
Due: yarn eslint --fix

check-open-login löschen
  src/js/app.ts
  src/js/modules/check-open-login.js
Due: yarn eslint --fix

Eine Anweisung in app.ts löschen
  src/js/app.ts
Due: yarn eslint --fix

Thementeaser-Modul bearbeiten
  src/components/modules/thementeaser/thementeaser.hbs
Due: none

patch.scss erstellen
  cregister-test-new.php
  cregister-test-origin.php
  myonline-new-test.php
  myonline-origin-test.php
  register-live-new-o.php
  register-live-origin.php
  register-test-origin.php
  src/css/modules/patch.scss
Due: yarn stylelint --fix

patch.css hinzufügem
  src/css/app.scss
Due: yarn stylelint --fix

app.patch.css sortieren und einige Anweisungen in dummy hinzufügen
  myonline-new-test.php
  src/components/fragments/dummy/dummy.hbs
  src/css/modules/header.scss
  src/css/modules/misc.scss
  src/css/modules/patch.scss
Due: yarn stylelint --fix

Test-Dateien für CMS
  CREGISTER-TEST-SY-NEW1.php
  REGISTER-LIVE-NEW1.php
  myonline-new-test.php
  myonline-origin-test.php
Due: none

bug-fix in Fractal
  src/components/fragments/rebrush-example/rebrush-example.hbs
  src/components/modules/articles/author/author.hbs
  src/components/modules/articletext/articletext.hbs
  src/components/modules/gradient/gradient.config.json
  src/components/modules/gradient/gradient.hbs
Due: none

Lokal-Slider bauen
  src/components/modules/slider/slider--lokal.hbs
  src/components/modules/slider/slider.config.json
Due: none

Lokal-Slider bearbeiten
  src/components/modules/slider/slider--lokal.hbs
Due: none

Preisliste bearbeiten
  Register-ok-live-new.php
  Register-ok-live-origin.php
  Register-ok-test-new.php
  Register-ok-test-origin.php
  src/components/modules/articles/article-neben-paywall/article-neben-paywall.hbs
  src/components/modules/articletext/articletext.config.json
  src/components/modules/gradient/gradient.hbs
  src/components/modules/preisliste/preisliste-hk/preisliste-hk.hbs
  src/components/pages/landing-pages/arminia-angebot/arminia-angebot.hbs
Due: none

Newsletter-Landingpage
  src/components/pages/landing-pages/audience-nl/audience-nl.config.json
  src/components/pages/landing-pages/audience-nl/audience-nl.hbs
Due: none

NL-Anmeldung bearbeiten
  src/components/pages/landing-pages/audience-nl/audience-nl.hbs
Due: none
