Repository dalkdev/owl-fractal-github-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint --fix

einige Änderungen
  src/components/modules/abo-sichern-page/abo-sichern-page.hbs
  src/components/modules/adventskalender/adventskalender.hbs
  src/components/modules/articleheader/articleheader.hbs
  src/components/modules/articles/author/author--ohne-bild.hbs
  src/components/modules/articles/author/author.hbs
  src/components/modules/articles/meistgelesen-box/meistgelesen-box.hbs
  src/css/modules/header.scss
Due: yarn stylelint --fix

neue Farbe hinzufügen und login-box bearbeiten
  src/components/pages/anzeigenservice/[anzeigenservice]login/[anzeigenservice]login--icon-login.hbs
  src/components/styleguide/colors/colors.hbs
  src/js/modules/login-box.js
  tailwind.config.js
Due: yarn eslint --fix

kleine Änderung
  src/components/pages/anzeigenservice/[anzeigenservice]login/[anzeigenservice]login--icon-login.hbs
Due: none

login-icon javascriptcode erstellen
  src/components/pages/anzeigenservice/[anzeigenservice]login/[anzeigenservice]login--icon-login.hbs
  src/js/modules/login-box.js
Due: yarn eslint --fix

article-detail-entry-content p (CSS Code) hinzufügen
  src/css/modules/misc.scss
Due: yarn stylelint --fix

css Code von twig nehemen und im Fractal erstellen
  src/css/modules/header.scss
Due: yarn stylelint --fix

kleine Änderung
  src/css/modules/header.scss
Due: yarn stylelint --fix

ein Code im Fractal erstellen
  src/css/modules/header.scss
Due: yarn stylelint --fix

eine kleine Änderung in login-box in confirmation-login-box
  src/css/modules/header.scss
Due: yarn stylelint --fix

Eine Klasse löschen
  src/css/modules/header.scss
Due: yarn stylelint --fix

css-Code im header hinzufügen
  src/css/modules/header.scss
Due: yarn stylelint --fix

CSS-Code von header löschen
  src/css/modules/header.scss
Due: yarn stylelint --fix

themenseiten-buttons bauen
  src/components/modules/articles/themenseiten-buttons/README.md
  src/components/modules/articles/themenseiten-buttons/themenseiten-buttons.config.json
  src/components/modules/articles/themenseiten-buttons/themenseiten-buttons.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.hbs
  src/css/modules/article-themenbox-slider.scss
  src/js/modules/embla-slider.ts
Due: yarn eslint --fix, yarn stylelint --fix

themenseiten-buttons bearbeiten
  src/components/modules/articles/themenseiten-buttons/themenseiten-buttons.hbs
  src/js/modules/embla-slider.ts
Due: yarn eslint --fix

themen-buttons bearbeiten
  src/components/modules/articles/themenseiten-buttons/themenseiten-buttons.hbs
Due: none

neue NL-Box bauen, Einige Farben im Fractal löschen
  src/components/modules/articles/externe-inhalte/externe-inhalte--video.hbs
  src/components/modules/erwin/event-portal-teaser/event-portal-teaser.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--essen-und-erleben.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.config.json
  src/components/pages/lesepaten/uebersichtselement/uebersichtselement.hbs
  src/components/styleguide/colors/colors.hbs
  tailwind.config.js
Due: none

NL bearbeiten
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--essen-und-erleben.hbs
Due: none

Slider-Themenübersichtseite bauen
  src/components/modules/slider/slider--themeneubersicht.hbs
  src/components/modules/slider/slider.config.json
  src/components/pages/themenuebersicht-page/single-box/single-box.hbs
  src/components/pages/themenuebersicht-page/themenuebersicht-page.config.json
  src/css/modules/misc.scss
  src/static/images/essen.svg
Due: yarn stylelint --fix

article-detail-entry-content p-Klasse bearbeiten
  src/css/modules/article.scss
Due: yarn stylelint --fix

Slider im Themenübersicht bearbeiten und x twitter vom Fractal löschen
  src/components/modules/social-icons/social-icons.hbs
  src/components/pages/themenuebersicht-page/themenuebersicht-page/themenuebersicht-page.hbs
Due: none

Bundestagwahl bauen
  REGISTER-LIVE-NEW1.php
  Register-ok-live-new.php
  src/components/modules/bundestagwahl/bundestagwahl.config.json
  src/components/modules/bundestagwahl/bundestagwahl.hbs
Due: none

neue Farben im Fractal hinzufügen
  REGISTER-LIVE-NEW1.php
  Register-ok-live-new.php
  src/components/styleguide/colors/colors.hbs
  tailwind.config.js
Due: none

themen-Slider bauen
  src/components/modules/slider/slider--themeneubersicht.hbs
Due: none

neue Änderungen in zwischenzeile erstellen
  src/css/modules/misc.scss
Due: yarn stylelint --fix

Karnaval Seite erstellen
  src/components/fragments/dark-mode/dark-mode.config.json
  src/components/fragments/dark-mode/dark-mode.hbs
  src/components/modules/karnaval/karnaval.conig.json
  src/components/modules/karnaval/karnaval.hbs
Due: none

CSS-Änderungen
  src/css/modules/patch.scss
Due: yarn stylelint --fix

Kleine Änderung im Karnaval
  src/components/modules/karnaval/karnaval.hbs
Due: none

Karnaval Änderung
  src/components/modules/karnaval/karnaval.hbs
Due: none

shrt-box bauen
  src/components/fragments/audio/audio.conig.json
  src/components/fragments/audio/audio.hbs
  src/components/modules/article-view-short-box/article-view-short-box.config.json
  src/components/modules/article-view-short-box/article-view-short-box.hbs
  src/components/modules/karnaval/karnaval.hbs
Due: none

article-view-box bauen
  src/components/fragments/audio/audio.hbs
  src/components/modules/article-view-short-box/article-view-short-box.hbs
Due: none

Zusammenfassung bauen
  src/components/modules/article-view-short-box/article-view-short-box.hbs
Due: none

kleine Änderung
  src/components/modules/article-view-short-box/article-view-short-box.hbs
Due: none

Zusammenfassung erstellen
  src/components/modules/article-view-short-box/article-view-short-box.hbs
Due: none

kleine Änderung im Zusammenanfassung Seite
  src/components/modules/article-view-short-box/article-view-short-box.hbs
Due: none

rabe im Button ändern
  src/components/modules/article-view-short-box/article-view-short-box.hbs
Due: none

Animation bearbeiten
  src/components/modules/article-view-short-box/article-view-short-box.hbs
Due: none

Neue Änderungen in der Zusammenfassung-Seite erstellen
  src/components/modules/article-view-short-box/article-view-short-box.hbs
Due: none

Die Breite in Short-Box ändern
  src/components/modules/article-view-short-box/article-view-short-box.hbs
Due: none

newsletter bearbeiten
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--essen-und-erleben.hbs
Due: none

Path conditions:
  yarn eslint --fix: any of: src/js/**/*.{ts,js}
  yarn stylelint --fix: any of: *.{scss,css}
