Repository dalkdev/owl-fractal-github-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint --fix

.lintstagedrc.json:

{
  "src/js/**/*.{ts,js}": "yarn eslint --fix",
  "*.{scss,css}": "yarn stylelint --fix"
}

Slider optimization
  src/css/modules/_embla-slider.scss
Due: yarn stylelint --fix

ads-box building
  src/components/fragments/ads-box/ads-box.config.json
  src/components/fragments/ads-box/ads-box.hbs
  src/css/modules/ads-box.scss
Due: yarn stylelint --fix

ads-box optimization
  src/components/fragments/ads-box/ads-box.config.json
  src/components/fragments/ads-box/ads-box.hbs
  src/css/modules/ads-box.scss
Due: yarn stylelint --fix

ads-box building
  src/components/fragments/ads-box/ads-box.config.json
  src/components/fragments/ads-box/ads-box.hbs
Due: none

login-page optimization
  src/components/fragments/ads-box/ads-box.config.json
  src/components/fragments/login/login-page/login-page.config.json
  src/components/fragments/login/login-page/login-page.hbs
Due: none

register-page building
  src/components/fragments/login/register-page/register-page.config.json
  src/components/fragments/login/register-page/register-page.hbs
Due: none

login-page optimization
  src/components/fragments/login/login-page/login-page.hbs
Due: none

confirmation-page building
  images/icons-confirmation.svg
  src/components/fragments/login/confirmation-page/confirmation-page.config.json
  src/components/fragments/login/confirmation-page/confirmation-page.hbs
Due: none

registration-page puilding and confirmation-page optimization
  images/icon-registration.svg
  src/components/fragments/login/registration-page/registration-page.config.json
  src/components/fragments/login/registration-page/registration-page.hbs
Due: none

Bugfixes
  src/components/fragments/header/logo-section/logo-section.hbs
  src/components/fragments/header/menu-nav-scroll-buttons/menu-nav-scroll-buttons.hbs
  src/components/fragments/header/menu-section/menu-section.config.json
  src/components/fragments/header/menu-section/menu-section.hbs
  src/css/modules/header.scss
  src/js/modules/embla-navigation.js
Due: yarn eslint --fix, yarn stylelint --fix

confirmation-page, login-page and register-page optimization and welcoming-page building
  images/icon1-welcoming.svg
  src/components/fragments/login/confirmation-page/confirmation-page.hbs
  src/components/fragments/login/login-page/login-page.hbs
  src/components/fragments/login/register-page/register-page.hbs
  src/components/fragments/login/welcoming-page/welcoming-page.config.json
  src/components/fragments/login/welcoming-page/welcoming-page.hbs
Due: none

welcoming-page and confirmation-page optimization and account-page building
  images/icon2-welcoming.svg
  src/components/fragments/login/account-page/account-page.config.json
  src/components/fragments/login/account-page/account-page.hbs
  src/components/fragments/login/confirmation-page/confirmation-page.config.json
  src/components/fragments/login/confirmation-page/confirmation-page.hbs
  src/components/fragments/login/welcoming-page/welcoming-page.config.json
  src/components/fragments/login/welcoming-page/welcoming-page.hbs
Due: none

Bugfixes
  src/components/_preview.hbs
  src/components/fragments/header/logo-section/logo-section.hbs
  src/components/fragments/header/menu-nav-item/menu-nav-item.hbs
  src/components/fragments/header/menu-nav/menu-nav.hbs
  src/components/fragments/header/menu-section/menu-section.config.json
  src/components/fragments/header/menu-section/menu-section.hbs
  src/css/modules/header.scss
  src/js/modules/sticky-menu.js
Due: yarn eslint --fix, yarn stylelint --fix

added yarn to package.json and nailed vite to version 2.3.6 because of build error esbuild could not be installed
  package.json
Due: none

account-page, confirmation-page, login-page, register-page, registration-page ans welcoming-page optimization
  src/components/fragments/login/account-page/account-page.config.json
  src/components/fragments/login/account-page/account-page.hbs
  src/components/fragments/login/confirmation-page/confirmation-page.hbs
  src/components/fragments/login/login-page/login-page.hbs
  src/components/fragments/login/register-page/register-page.hbs
  src/components/fragments/login/registration-page/registration-page.hbs
  src/components/fragments/login/welcoming-page/welcoming-page.hbs
Due: none

register-page optimization
  src/components/fragments/login/register-page/register-page.hbs
Due: none

themenbox-bugfix optimization
  src/components/fragments/articles/article-themenbox/article-themenbox.hbs
Due: none

register-page and account-page optimization
  src/components/fragments/login/account-page/account-page.hbs
  src/components/fragments/login/register-page/register-page.hbs
Due: none

some optimization
  src/components/fragments/nw-plus/nw-plus-footer/nw-plus-footer--bullets.hbs
  src/components/fragments/nw-plus/nw-plus-footer/nw-plus-footer--no-header.hbs
  src/components/fragments/nw-plus/nw-plus-footer/nw-plus-footer--with-info.hbs
Due: none

login-page in Login-box optimization
  src/components/fragments/login/login-page/login-page.hbs
Due: none

login-page optimization and ads-page building
  src/components/fragments/login/ads-page/ads-page.config.json
  src/components/fragments/login/ads-page/ads-page.hbs
  src/css/app.scss
  src/css/modules/select.scss
Due: yarn stylelint --fix

ads-page optimization
  src/components/fragments/login/ads-page/ads-page.hbs
  src/css/modules/select.scss
Due: yarn stylelint --fix

ads-page optimization
  src/components/fragments/login/ads-page/ads-page.hbs
Due: none

Kopiert css/js ins cms-twig Verzeichnis
  cp_assets_to_twig.bat
Due: none

leseempfehlung optimization
  src/components/fragments/leseempfehlung/leseempfehlung.hbs
  src/css/modules/_embla-slider.scss
Due: yarn stylelint --fix

slider optimization
  src/components/fragments/slider/slider.hbs
Due: none

account-page and login-page optimization
  src/components/fragments/login/account-page/account-page.hbs
  src/components/fragments/login/login-page/login-page.hbs
Due: none

account-page optimization
  src/components/fragments/login/account-page/account-page.hbs
Due: none

themen-box optimization
  src/components/fragments/articles/article-themenbox/article-themenbox.hbs
Due: none

some optimization
  src/components/fragments/login/register-page/register-page.hbs
Due: none

Bugfix: Hintergrund-Scrolling bei offenem Burgermenü deaktiviert.
  cp_assets_to_twig.bat
  package.json
  src/css/modules/_embla-navigation.scss
  src/css/modules/header.scss
  src/js/modules/burger-menu.js
  tailwind.config.js
Due: yarn eslint --fix, yarn stylelint --fix

Scrollbar bei Burgermenu angepasst
  src/components/fragments/header/login-box/login-box.hbs
  src/css/modules/_embla-navigation.scss
  src/css/modules/burger-menu.scss
Due: yarn stylelint --fix

slider optimization
  src/components/fragments/slider/slider.hbs
  src/css/modules/_embla-slider.scss
  src/js/modules/embla-slider.ts
Due: yarn eslint --fix, yarn stylelint --fix

Bugfixes Loginbox
  src/components/fragments/header/login-box/login-box.hbs
  src/components/fragments/header/menu-section/menu-section--sticky.hbs
  src/css/modules/header.scss
  src/js/modules/embla-navigation.js
  src/js/modules/sticky-menu.js
Due: yarn eslint --fix, yarn stylelint --fix

some optimization in slider
  src/components/fragments/slider/slider.hbs
Due: none
