Repository dalkdev/owl-fractal-github-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint --fix

.lintstagedrc.json:

{
  "src/js/**/*.{ts,js}": "yarn eslint --fix",
  "*.{scss,css}": "yarn stylelint --fix"
}

Info-Box Verbesern..Die Änderungen sind wie im aktuellen Entwürf .
  src/components/modules/info-box/info-box.hbs
  src/components/modules/slider/slider.hbs
  src/components/modules/video-box/video-box.hbs
  src/css/modules/_embla-slider.scss
  src/js/modules/privacy-box.js
Due: yarn eslint --fix, yarn stylelint --fix

Spacing löschen und Padding und einige Anweisungen beheben
  src/components/fragments/image/image--rounded.hbs
  src/components/fragments/image/image--with-button.hbs
  src/components/modules/ads/ads--body.hbs
  src/components/modules/ads/ads.hbs
  src/components/modules/articles/author/author.hbs
  src/components/modules/articles/empfehlungen/empfehlungen.hbs
  src/components/modules/articles/privacy/privacy.hbs
  src/components/modules/download/download.hbs
  src/components/modules/info-box/info-box.hbs
  src/components/modules/kommentar-box/kommentar-box--with-notification.hbs
  src/components/modules/kommentar-box/kommentar-box.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--abgelaufen.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--deaktiviert.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--fehlerhaft.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--gespeichert.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--gesperrt.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--vereuffentlicht.hbs
  src/components/modules/kommentare/kommentare.hbs
  src/components/modules/kunde-kommentar/kunde-kommentar.hbs
  src/components/modules/link-liste/link-liste.hbs
  src/components/modules/news-app/news-app.hbs
  src/components/modules/slider/slider.hbs
  src/components/modules/social-icons/social-icons.hbs
  src/components/modules/video-box/video-box.hbs
  src/components/pages/rebrush-article/rebrush-article.hbs
  src/css/modules/_embla-slider.scss
  src/static/images/news-app/apple-store.png
  src/static/images/news-app/google-store.png
  src/static/images/news-app/icon-iphone-notification.png
  src/static/images/news-app/icon-newspaper-infobox.png
  src/static/images/news-app/icon-system-phones-infobox.png
  src/static/images/news-app/iphone-screen-vorschau.png
  src/static/images/news-app/phone-screen-fussball.png
  src/static/images/news-app/phone-screen-region.png
  src/static/images/news-app/phone-screen-young.png
  tailwind.config.js
Due: yarn stylelint --fix

Kommentare-notifications und news-app bauen
  src/components/modules/kommentare-notifications/kommentare-notifications--abgelaufen.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--anmelden.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--deaktiviert.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--fehlerhaft.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--gespeichert.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--gesperrt.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--vereuffentlicht.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications.hbs
  src/components/modules/news-app/news-app.hbs
Due: none

Einie kleine Änderung im Kommentare-notifications
  src/components/modules/kommentare-notifications/kommentare-notifications--gesperrt.hbs
Due: none

news-app Seite bauen und einige Verbesserungen im Rebrush-artikel
  src/components/modules/kommentare-notifications/kommentare-notifications--anmelden.hbs
  src/components/modules/news-app/news-app.config.json
  src/components/modules/news-app/news-app.hbs
  src/css/app.scss
  src/css/modules/news-app.scss
  src/static/images/news-app/icon-iphone-notification.jpg
  src/static/images/news-app/icon-iphone-notification.png
  src/static/images/news-app/icon-newspaper-infobox.jpg
  src/static/images/news-app/icon-newspaper-infobox.png
  src/static/images/news-app/icon-system-phones-infobox.jpg
  src/static/images/news-app/icon-system-phones-infobox.png
  src/static/images/news-app/iphone-screen-vorschau-app-startseite.jpg
Due: yarn stylelint --fix

Javascript-Code verbessern
  src/components/modules/articles/privacy/privacy.hbs
  src/js/modules/privacy-box.js
Due: yarn eslint --fix

download-Liste verbessern
  src/components/modules/download/download.config.json
  src/components/modules/download/download.hbs
  src/css/general/_main.scss
  src/css/modules/download.scss
  src/css/modules/link.scss
  src/static/images/download/icon-doc.svg
  src/static/images/download/icon-pdf.svg
  src/static/images/download/icon-zip.svg
Due: yarn stylelint --fix

Modal-bx bauen
  src/components/fragments/image/image--with-button.hbs
  src/components/fragments/modal-box/modal-box.config.json
  src/components/fragments/modal-box/modal-box.hbs
  src/components/modules/kunde-kommentar/kunde-kommentar.hbs
Due: none

modal-box bauen
  src/components/fragments/image/image--with-button.hbs
  src/components/fragments/modal-box/modal-box--gemeldet.hbs
  src/js/app.ts
  src/js/modules/modal-box.js
Due: yarn eslint --fix

Neues kommentar-Design bauen
  src/components/fragments/image/image--with-button.hbs
  src/components/fragments/modal-box/modal-box--gemeldet.hbs
  src/components/fragments/modal-box/modal-box.hbs
  src/components/modules/kommentar-box/kommentar-box--with-notification-copy2.hbs
  src/components/modules/kommentar-box/kommentar-box.hbs
  src/components/modules/kommentare/kommentare.hbs
  src/components/modules/kunde-kommentar/kunde-kommentar.hbs
  src/components/pages/rebrush-article/rebrush-article.hbs
  src/js/modules/kommentare.js
Due: yarn eslint --fix

Fotostrecke and Video-box verbessern
  src/components/modules/video-box/video-box.hbs
  src/css/general/_main.scss
Due: yarn stylelint --fix

modal-box und Kommentare verbessern
  src/components/fragments/modal-box/modal-box--gemeldet.hbs
  src/components/fragments/modal-box/modal-box.hbs
  src/components/modules/kunde-kommentar/kunde-kommentar.hbs
  src/components/modules/slider/slider.hbs
  src/js/modules/embla-slider.ts
Due: yarn eslint --fix

lightbox bauen
  src/components/modules/slider/slider.hbs
  src/css/app.scss
  src/css/modules/lightbox.scss
  src/js/app.ts
  src/js/modules/embla-slider.ts
Due: yarn eslint --fix, yarn stylelint --fix

Kommentarfunktion aufgeräumt.
  src/components/fragments/kommentar-fragments/kommentar-anmelden.hbs
  src/components/fragments/kommentar-fragments/kommentar-antwort.hbs
  src/components/fragments/kommentar-fragments/kommentar-footer.hbs
  src/components/fragments/kommentar-fragments/kommentar-form.config.json
  src/components/fragments/kommentar-fragments/kommentar-header.hbs
  src/components/fragments/kommentar-fragments/kommentar-kommentar.hbs
  src/components/fragments/kommentar-fragments/kommentar-mehr-antworten-button.hbs
  src/components/fragments/kommentar-fragments/kommentar-mehr-kommentare-button.hbs
  src/components/fragments/kommentar-fragments/kommentar-notifications.config.json
  src/components/fragments/kommentar-fragments/kommentar-notifications.hbs
  src/components/fragments/kommentar-fragments/kommentar-toggle-button.hbs
  src/components/fragments/modal-box/modal-box--sample.hbs
  src/components/fragments/modal-box/modal-box.hbs
  src/components/modules/kommentar/kommentar.config.json
  src/components/modules/kommentar/kommentar.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--abgelaufen.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--deaktiviert.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--fehlerhaft.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--gespeichert.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--gesperrt.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--vereuffentlicht.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications.hbs
  src/components/modules/kunde-kommentar/kunde-kommentar.config.json
  src/components/modules/kunde-kommentar/kunde-kommentar.hbs
  src/components/modules/liveticker/liveticker.hbs
  src/components/modules/notification/notification--all-items.hbs
  src/components/modules/notification/notification.config.json
  src/components/modules/notification/notification.hbs
  src/components/pages/rebrush-article/rebrush-article.hbs
  src/css/modules/liveticker.scss
  src/js/modules/modal-box.js
  src/static/images/icon-DOC.svg
  src/static/images/icon-PDF.svg
  src/static/images/icon-ZIP.svg
  src/static/images/icon_zip.svg
Due: yarn eslint --fix, yarn stylelint --fix

Kommentarfunktion aufgeräumt.
  src/components/fragments/kommentar-fragments/kommentar-form.hbs
  src/components/modules/kommentar-box/kommentar-box--with-notification-copy2.hbs
  src/components/modules/kommentar-box/kommentar-box.config.json
  src/components/modules/kommentar-box/kommentar-box.hbs
  src/components/modules/kommentare/kommentare.config.json
  src/components/modules/kommentare/kommentare.hbs
Due: none

Hintergrund zu Modal hinzugefügt.
  src/components/fragments/modal-box/modal-box--gemeldet.hbs
  src/components/fragments/modal-box/modal-box.hbs
Due: none

Bugfixes
  src/components/fragments/image/image.hbs
  src/components/fragments/modal-box/modal-box.hbs
  src/css/modules/download.scss
Due: yarn stylelint --fix

Einige Änderungen im Rebrush-artikel
  src/components/fragments/image/image--rounded.hbs
  src/components/fragments/image/image--with-button.hbs
  src/components/modules/download/download.hbs
  src/components/modules/link-liste/link-liste.hbs
  src/components/modules/slider/slider.hbs
  src/components/modules/video-box/video-box.hbs
Due: none

Einige Änderungen in Slider, thema-box, themenuebersicht, main.scss und lightboc.scss
  src/components/modules/slider/slider.hbs
  src/components/pages/thema-box/thema-box.config.json
  src/components/pages/themenuebersicht-page/themenuebersicht-page.config.json
  src/css/general/_main.scss
  src/css/modules/lightbox.scss
Due: yarn stylelint --fix

Update div. Nodemodule und Tailwind v3
  ftp_upload.scp
  package-lock.json.bak
  package.json
  postcss.config.js
  src/components/fragments/spielerliste-page/spielerliste-page.hbs
  src/components/modules/notification/notification.config.json
  src/css/fonts.scss
  src/fonts/.gitkeep
  src/fonts/roboto-v27-latin-500.woff
  src/fonts/roboto-v27-latin-500.woff2
  src/fonts/roboto-v27-latin-700.woff
  src/fonts/roboto-v27-latin-700.woff2
  src/fonts/roboto-v27-latin-regular.woff
  src/fonts/roboto-v27-latin-regular.woff2
  src/js/app.ts
  src/js/modules/privacy-box.js
  tailwind.config.js
  vite.config.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint --fix

Update div. Nodemodule und Tailwind v3
  package-lock.json.bak
Due: none

Revert "Update div. Nodemodule und Tailwind v3"
  package-lock.json.bak
Due: none

Revert "Revert "Update div. Nodemodule und Tailwind v3""
  package-lock.json.bak
Due: none

Änderung im Slider gemacht
  src/components/modules/slider/slider--mit-text.hbs
  src/components/modules/slider/slider.hbs
  src/components/pages/rebrush-article/rebrush-article.hbs
  src/css/general/_main.scss
  src/css/modules/article.scss
  src/css/modules/lightbox.scss
  src/js/modules/embla-slider.ts
Due: yarn eslint --fix, yarn stylelint --fix

Nw-plus-footer-Variante machen
  src/components/modules/nw-plus/nw-plus-footer/nw-plus-footer--kreis.hbs
  src/components/modules/nw-plus/nw-plus-footer/nw-plus-footer--mit-Bild-2.hbs
  src/css/general/_main.scss
  src/css/modules/article.scss
Due: yarn stylelint --fix

Update....artikel-text, artikel-header, registrierung--bestaetigen-copy2, registrierung--bestaetigt-copy2, registrierung-copy2, registrierung-copy3, rebrush-artikel.hbs.bak und einige svg
  ftp_upload.scp
  package - Kopie.json
  src/components/fragments/rebrush-example/rebrush-example.config.json
  src/components/fragments/rebrush-example/rebrush-example.hbs
  src/components/modules/articleheader/articleheader.hbs
  src/components/modules/articletext/articletext.hbs
  src/components/modules/newsletter-page/newsletter-page.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]registrierung/[anzeigenservice]registrierung--bestaetigen-copy2.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]registrierung/[anzeigenservice]registrierung--bestaetigt-copy2.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]registrierung/[anzeigenservice]registrierung--copy2.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]registrierung/[anzeigenservice]registrierung--copy3.hbs
  src/components/pages/rebrush-article/rebrush-article.hbs
  src/components/pages/rebrush-article/rebrush-article.hbs.bak
  src/css/general/_main.scss
  src/css/modules/article.scss
  src/css/modules/misc.scss
  src/static/images/eye-slash.svg
  src/static/images/eye.svg
  yarn.lock
Due: yarn stylelint --fix

Einige Updates
  src/components/modules/ads/ads.hbs
  src/components/modules/articles/author/author.hbs
  src/components/modules/articles/pano-image/pano-image.hbs
  src/components/modules/download/download.hbs
  src/components/modules/info-box/info-box.hbs
  src/components/modules/kommentar/kommentar.hbs
  src/components/modules/link-liste/link-liste.hbs
  src/components/modules/slider/slider.hbs
  src/components/modules/video-box/video-box.hbs
  src/components/pages/rebrush-article/rebrush-article.hbs
  src/css/general/_main.scss
  src/css/modules/_embla-slider.scss
  src/css/modules/article.scss
  src/css/modules/download.scss
  src/css/modules/link.scss
  src/css/modules/recobox.scss
  src/static/images/external-link-icon.svg
  tailwind.config.js
Due: yarn stylelint --fix

Einige Updates
  src/components/modules/articletext/articletext.hbs
  src/components/modules/video-box/video-box.hbs
  src/components/pages/rebrush-article/rebrush-article.hbs
  src/css/app.scss
  src/css/modules/article.scss
  src/css/modules/recobox.scss
  tailwind.config.js
Due: yarn stylelint --fix

Bugfix Recobox: Abstände und Größen angepasst
  src/css/modules/recobox.scss
  tailwind.config.js
Due: yarn stylelint --fix

Div. Bugfixes und Cleanups
  src/css/app.scss
  src/css/general/_main.scss
  src/css/modules/lightbox.scss
  src/css/modules/link.scss
  src/css/modules/recobox.scss
  src/js/app.ts
  src/js/modules/embla-slider.ts
  tailwind.config.js
Due: yarn eslint --fix, yarn stylelint --fix

Einbau von Breadcrumb-Navigation
  src/components/modules/ breadcrumb/breadcrumb.hbs
  src/components/modules/header/header-full/header-full--lokal.hbs
  src/components/pages/rebrush-article/rebrush-article.hbs
  src/css/modules/breadcrumb.scss
  src/css/modules/header.scss
Due: yarn stylelint --fix

Verschiedene Bugfixes
  src/components/modules/ breadcrumb/breadcrumb.hbs
  src/components/modules/articleheader/articleheader.hbs
  src/css/app.scss
  src/css/general/_main.scss
  src/css/modules/breadcrumb.scss
  src/css/modules/header.scss
Due: yarn stylelint --fix

Direkt-zum-thema Seite und Lesepaten Seite
  src/components/modules/direkt-zum-thema/direkt-zum-thema.config.json
  src/components/modules/direkt-zum-thema/direkt-zum-thema.hbs
  src/components/modules/druck-ansicht/druck-ansicht..hbs
  src/components/modules/druck-ansicht/druck-ansicht.config.json
  src/components/pages/lesepaten/lesepaten--eubersicht.hbs
  src/components/pages/lesepaten/lesepaten--inhalt.hbs
  src/components/pages/lesepaten/lesepaten.config.json
  src/components/pages/lesepaten/lesepaten.hbs
  src/css/app.scss
  src/css/modules/_embla-slider.scss
  src/css/modules/misc.scss
  src/css/modules/news-app.scss
  src/js/modules/embla-slider.ts
  src/static/images/arrow-small-right.svg
  src/static/images/chat-bubble-left.svg
  src/static/images/lesepaten/img-teaser-mobil.jpg
  src/static/images/lesepaten/img-teaser.jpg
  src/static/images/lesepaten/logo-sparkasse.jpg
  src/static/images/lesepaten/spakasse-logo.svg
  src/static/images/lesepaten/sparkasse.svg
  src/static/images/mail-icon.svg
  src/static/images/minus-small.svg
  src/static/images/plus-small.svg
  src/static/images/truck.svg
  src/static/images/user-group.svg
  src/static/images/user.svg
  tailwind.config.js
Due: yarn eslint --fix, yarn stylelint --fix

Konflikt lösen
  tailwind.config.js
Due: none

Passwort zum Upload hinzugefügt
  ftp_upload.scp
Due: none

Fixed the lightbox for articles images and photo gallery
  package.json
  src/components/fragments/image/image--rounded.hbs
  src/components/modules/slider/slider.hbs
  src/css/app.scss
  src/css/general/_main.scss
  src/css/modules/glightbox.scss
  src/css/modules/header.scss
  src/css/modules/recobox.scss
  src/js/app.ts
  src/js/modules/dotButtons.js
  src/js/modules/embla-slider.ts
  src/js/modules/glightbox.js
  src/js/modules/modal-box.js
  src/js/modules/privacy-box.js
  tsconfig.json
  typings/index.d.ts
  yarn.lock
Due: yarn eslint --fix, yarn stylelint --fix

registrierung-Seite Feedback und Direkt zum Thema Seite
  src/components/modules/direkt-zum-thema/direkt-zum-thema.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]registrierung/[anzeigenservice]registrierung--copy3.hbs
  src/js/app.ts
  src/js/modules/direkt-zum-thema.js
Due: yarn eslint --fix

Embla Carousel aktualisiert auf neueste Version.
  package.json
  src/components/modules/articles/recobox/recobox--rebrush-copy-2.hbs
  src/css/modules/_embla-slider.scss
  src/js/modules/embla-slider.ts
  src/js/modules/glightbox.js
Due: yarn eslint --fix, yarn stylelint --fix
