Repository dalkdev/owl-fractal-github-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint --fix

.lintstagedrc.json:

{
  "src/js/**/*.{ts,js}": "yarn eslint --fix",
  "*.{scss,css}": "yarn stylelint --fix"
}

Liveticker Template
  src/css/modules/header.scss
  src/css/modules/scribble.scss
Due: yarn stylelint --fix

Liveticker Template Bugfixes
  src/css/app.scss
  src/css/modules/liveticker.scss
Due: yarn stylelint --fix

Liveticker Template Bugfixes
  src/css/modules/header.scss
Due: yarn stylelint --fix

Liveticker Template Bugfixes
  src/components/fragments/Buttons/link-button/link-button--no-padding.hbs
Due: none

h3 durch div ersetzt
  src/components/fragments/footers/footer-headline/footer-headline.hbs
Due: none

rebrush verbessern
  src/components/fragments/banner/banner.hbs
  src/components/fragments/image/image--with-button.hbs
  src/components/modules/articles/author/author.hbs
  src/components/modules/articles/empfehlungen/empfehlungen.hbs
  src/components/modules/info-box/info-box.hbs
  src/components/modules/kommentare/kommentare.hbs
  src/components/modules/kunde-kommentar/kunde-kommentar.hbs
  src/components/modules/slider/slider.hbs
  src/components/modules/social-icons/social-icons.hbs
  src/components/pages/rebrush-article/rebrush-article.hbs
  src/css/modules/article.scss
Due: yarn stylelint --fix

slider ausgrauen, und image with button verbessern
  src/components/fragments/image/image--with-button.hbs
  src/components/modules/slider/slider.hbs
  src/components/pages/rebrush-article/rebrush-article.hbs
  src/css/modules/_embla-slider.scss
Due: yarn stylelint --fix

Image mit Button verbessern
  src/components/fragments/image/image--with-button.hbs
  src/components/modules/kunde-kommentar/kunde-kommentar.config.json
  src/components/pages/rebrush-article/rebrush-article.hbs
Due: none

Countdown init
  src/components/fragments/countdown/countdown.config.json
  src/components/fragments/countdown/countdown.hbs
Due: none

nw-Plus-Footer bauen
  src/components/modules/nw-plus/nw-plus-footer/nw-plus-footer--kreis.hbs
  src/components/modules/nw-plus/nw-plus-footer/nw-plus-footer--mit-bild.hbs
  src/components/modules/nw-plus/nw-plus-footer/nw-plus-footer--small.hbs
  src/components/modules/nw-plus/nw-plus-popup/nw-plus-popup--mit-bild.hbs
  src/components/modules/nw-plus/nw-plus-popup/nw-plus-popup.config.json
  src/components/modules/nw-plus/nw-plus-popup/nw-plus-popup.hbs
Due: none

preisliste bauen
  src/components/modules/preisliste/preisliste.config.json
  src/components/modules/preisliste/preisliste.hbs
Due: none

kliene Änderung machen
  src/components/modules/nw-plus/nw-plus-footer/nw-plus-footer--kreis.hbs
Due: none

Einige Änderungen im Slider im Rebrush und Änderungen in Nw-plus-footer
  src/components/modules/nw-plus/nw-plus-footer/nw-plus-footer--kreis.hbs
  src/components/modules/nw-plus/nw-plus-footer/nw-plus-footer--mit-bild.hbs
  src/components/modules/nw-plus/nw-plus-footer/nw-plus-footer--small.hbs
  src/components/modules/nw-plus/nw-plus-popup/nw-plus-popup--mit-bild.hbs
  src/components/modules/slider/slider--flex.hbs
  src/components/modules/slider/slider--mit-text.hbs
  src/components/modules/slider/slider.config.json
  src/components/modules/slider/slider.hbs
  src/components/modules/video-box/video-box.hbs
  src/css/modules/_embla-slider.scss
  src/static/images/circle.svg
  src/static/images/nw-plus-footer/BG.jpg
  src/static/images/nw-plus-footer/ipad-iphone.png
Due: yarn stylelint --fix

abschicken klein machen und kleine Änderung in Slider
  src/components/modules/kommentare/kommentare.hbs
  src/css/modules/_embla-slider.scss
Due: yarn stylelint --fix

nw-plus-footer ( ein paar Änderung)
  src/components/modules/nw-plus/nw-plus-footer/nw-plus-footer--kreis.hbs
Due: none

Recobox bauen
  src/components/fragments/recobox/recobox.config.json
  src/components/fragments/recobox/recobox.hbs
  src/components/modules/articles/recobox/recobox-nw/recobox-nw.config.json
  src/components/modules/articles/recobox/recobox-nw/recobox-rebrush.hbs
  src/css/modules/recobox.scss
Due: yarn stylelint --fix

Bugfixes Artikeldetailseite
  src/components/_preview.hbs
  src/components/fragments/banner/banner.config.json
  src/components/fragments/banner/banner.hbs
  src/components/fragments/dachzeile/dachzeile--without-nw-plus.hbs
  src/components/fragments/dachzeile/dachzeile.config.json
  src/components/fragments/dachzeile/dachzeile.hbs
  src/components/fragments/image/image--with-button.hbs
  src/components/modules/ads/ads--body.hbs
  src/components/modules/articles/article-head/article-head.hbs
  src/components/modules/articles/article-lead-story/article-lead-story.hbs
  src/components/modules/articles/article-teaser/article-teaser.hbs
  src/components/modules/articles/empfehlungen/empfehlungen.hbs
  src/components/modules/slider/slider.hbs
  src/components/pages/rebrush-article/rebrush-article.config.json
  src/components/pages/rebrush-article/rebrush-article.hbs
  src/css/app.scss
  src/css/modules/article.scss
Due: yarn stylelint --fix

Anpassungen an Recoboxen
  src/components/modules/articles/recobox/recobox-nw/reccobox-nw.hbs
  src/components/modules/articles/recobox/recobox-nw/recobox-nw.config.json
Due: none

Anpassungen an Recoboxen
  src/components/fragments/recobox-item/recobox-item.config.json
  src/components/fragments/recobox-item/recobox-item.hbs
  src/components/modules/articles/recobox/recobox--rebrush.hbs
  src/components/modules/articles/recobox/recobox.config.json
  src/components/modules/articles/recobox/recobox.hbs
Due: none

neue Variante (recobox) bauen
  src/components/modules/articles/recobox/recobox--rebrush-copy-2.hbs
  src/css/modules/recobox.scss
Due: yarn stylelint --fix

theme-teaser bauen
  src/components/modules/theme-teaser/theme-teaser.config.json
  src/components/modules/theme-teaser/theme-teaser.hbs
Due: none

theme-teaser pushen
  src/components/modules/theme-teaser/theme-teaser.config.json
  src/components/modules/theme-teaser/theme-teaser.hbs
Due: none

thementeaser refactor
  src/components/modules/thementeaser/thementeaser.config.json
  src/components/modules/thementeaser/thementeaser.hbs
Due: none

eine Änderung im recobox
  src/components/modules/articles/recobox/recobox--rebrush-copy-2.hbs
  src/components/modules/articles/recobox/recobox.config.json
Due: none

nw-footer funktion bauen
  src/components/modules/nw-plus/nw-plus-footer/nw-plus-footer--collapse.hbs
Due: none

changed id for embla with gradient
  package.json
  src/components/modules/slider/slider--mit-text.hbs
  src/components/modules/slider/slider.hbs
  src/css/modules/_embla-slider.scss
Due: yarn stylelint --fix

download-Liste und nw-plus-footer bauen und verbessern
  src/components/modules/download/download.hbs
  src/components/modules/kommentare/kommentare.hbs
  src/components/modules/nw-plus/nw-plus-footer/nw-plus-footer--collapse.hbs
  src/css/app.scss
  src/css/modules/download.scss
  src/static/images/download.svg
Due: yarn stylelint --fix

Rechtschreibfehler verbessert
  .husky/pre-commit
  package.json
  src/components/modules/slider/slider--mit-text.hbs
  src/components/modules/slider/slider.hbs
  src/css/modules/_embla-slider.scss
  src/css/modules/download.scss
Due: yarn stylelint --fix

thementeaser, link-liste, kommentare und nw-plus-footer verbessern
  src/components/modules/kommentar-box/kommentar-box.hbs
  src/components/modules/kommentare/kommentare.hbs
  src/components/modules/link-liste/link-liste.hbs
  src/components/modules/nw-plus/nw-plus-footer/nw-plus-footer--collapse.hbs
  src/components/modules/thementeaser/thementeaser.hbs
  src/css/app.scss
  src/css/modules/link.scss
Due: yarn stylelint --fix

nw-plus-footer-collapse und einige Sachen verbessern
  src/components/fragments/image/image--with-button.hbs
  src/components/modules/kommentare/kommentare.hbs
  src/components/modules/nw-plus/nw-plus-footer/nw-plus-footer--collapse.hbs
  src/components/modules/simple-loream/simple-loream.hbs
  src/components/modules/thementeaser/thementeaser.hbs
  src/css/app.scss
  src/css/modules/article.scss
  src/css/modules/nw-plus-footer-collapse.scss
Due: yarn stylelint --fix

Dots aus embla-Slider entfernt
  src/components/modules/slider/slider.hbs
  src/css/modules/download.scss
  src/js/modules/embla-slider.ts
Due: yarn eslint --fix, yarn stylelint --fix

Javascript Code in kommentare verbessern
  src/components/fragments/image/image--with-button.hbs
  src/components/modules/kommentar-box/kommentar-box.hbs
  src/components/modules/kommentare/kommentare.hbs
  src/components/modules/kunde-kommentar/kunde-kommentar.hbs
  src/js/app.ts
  src/js/modules/kommentare.js
Due: yarn eslint --fix

Kommentare-notification verbessern
  src/components/modules/kommentar-box/kommentar-box--with-notification.hbs
  src/components/modules/kommentar-box/kommentar-box.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--abgelaufen.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--deaktiviert.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--gespeichert.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications.config.json
  src/components/modules/kommentare-notifications/kommentare-notifications.hbs
  src/components/modules/kommentare/kommentare.hbs
  src/components/modules/kunde-kommentar/kunde-kommentar.hbs
  src/css/modules/kommentare-notiication.scss
  src/js/modules/kommentare.js
  src/static/images/bookmark.svg
  src/static/images/check-circle.svg
  src/static/images/icon-comment-deaktiviert.svg
  src/static/images/information-circle.svg
  src/static/images/x-circle.svg
Due: yarn eslint --fix, yarn stylelint --fix

Dots aus embla-Slider entfernt
  src/components/_preview.hbs
  src/components/modules/articles/privacy/privacy.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications.config.json
  src/components/pages/rebrush-article/rebrush-article.hbs
  src/css/general/_main.scss
  src/css/modules/misc.scss
Due: yarn stylelint --fix

Anpassungen an Abständen
  src/components/pages/rebrush-article/rebrush-article.hbs
  src/css/general/_main.scss
Due: yarn stylelint --fix

Kommentare- Verbesserung
  src/components/modules/kommentare-notifications/kommentare-notifications--abgelaufen.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--deaktiviert.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--fehlerhaft.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--gesperrt.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--vereuffentlicht.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications.config.json
  src/components/modules/kommentare-notifications/kommentare-notifications.hbs
  src/components/modules/kommentare/kommentare.hbs
  src/components/modules/kunde-kommentar/kunde-kommentar.hbs
  src/static/images/user-circle.svg
Due: none

einige Verbesserungen in Kommentare und new-app module bauen
  src/components/modules/kommentare-notifications/kommentare-notifications--abgelaufen.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications--vereuffentlicht.hbs
  src/components/modules/kommentare-notifications/kommentare-notifications.hbs
  src/components/modules/kommentare/kommentare.hbs
  src/components/modules/news-app/news-app.config.json
  src/components/modules/news-app/news-app.hbs
  src/components/modules/video-box/video-box.hbs
  src/components/pages/rebrush-article/rebrush-article.hbs
  src/css/modules/misc.scss
Due: yarn stylelint --fix

Privacy Box angepasst
  src/components/modules/articles/privacy/privacy.hbs
Due: none

Einige Änderungen im Video-box und anderes Code für Privacy-box im Javascript
  src/components/modules/articles/privacy/privacy.hbs
  src/components/modules/video-box/video-box.hbs
  src/js/app.ts
  src/js/modules/privacy-box.js
Due: yarn eslint --fix
