Repository dalkdev/owl-fractal-github-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint --fix

Newlietterboxslider bearbeiten und einige wichtigen Datein hinzufügen
  CREGISTER-TEST-SY-NEW1.php
  src/components/modules/slider/slider--newsletter-boxen.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]passwortseiten/[anzeigenservice]passwortseiten.hbs
  src/js/modules/embla-slider.ts
  test-hk-abo-probe.php
  zruckdatensenden-original-5-11.php
  zuruckdatensenden-probe-5-11.php
Due: yarn eslint --fix

kleine Änderung in newsletterboxslider
  src/components/modules/slider/slider--newsletter-boxen.hbs
Due: none

embla-slider bearbeiten
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--autoren-region.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--autoren.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--default2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-title2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.hbs
  src/js/modules/embla-slider.ts
Due: yarn eslint --fix

silder bearbeiten
  src/components/modules/slider/slider--newsletter-boxen.hbs
  src/js/modules/embla-slider.ts
Due: yarn eslint --fix

kleine Änderung
  src/components/modules/slider/slider--newsletter-boxen.hbs
Due: none

slider bearbeiten
  src/js/modules/embla-slider.ts
Due: yarn eslint --fix

Neue Änderungen im Newsletter
  src/components/modules/slider/slider.config.json
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.hbs
Due: none

app.css zurücksetzen
  src/css/modules/header.scss
Due: yarn stylelint --fix

neue Änderungen in NL-Slider
  src/components/modules/slider/slider--newsletter-boxen.hbs
  src/components/modules/slider/slider.config.json
Due: none

Black-friday-Angebot bauen
  src/components/pages/landing-pages/black-friday-angebot/black-friday-angebot.config.json
  src/components/pages/landing-pages/black-friday-angebot/black-friday-angebot.hbs
  test-hk-abo-probe.php
Due: none

adventskalender , blackfriday Angebot bauen
  src/components/modules/adventskalender/adventskalender.config.json
  src/components/modules/adventskalender/adventskalender.hbs
  src/components/pages/landing-pages/black-friday-angebot/black-friday-angebot--nw.hbs
  src/components/pages/landing-pages/black-friday-angebot/black-friday-angebot.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region.hbs
  src/static/images/black-friday.svg
  src/static/images/gift.svg
Due: none

adventskalender und Blackfriday bearbeiten
  src/components/modules/adventskalender/adventskalender.hbs
  src/components/pages/landing-pages/black-friday-angebot/black-friday-angebot--nw.hbs
  src/components/pages/landing-pages/black-friday-angebot/black-friday-angebot.hbs
Due: none

link hinzufügen
  src/components/pages/landing-pages/black-friday-angebot/black-friday-angebot.hbs
Due: none

Blackfriday-hk bauen und blackfriday-nw und adventsklaender bearbeiten
  src/components/modules/adventskalender/adventskalender.hbs
  src/components/pages/landing-pages/black-friday-angebot/black-friday-angebot--hk.hbs
  src/components/pages/landing-pages/black-friday-angebot/black-friday-angebot.hbs
  src/static/images/logo-nw-short-border.svg
Due: none

kleine Änderungen
  src/components/modules/adventskalender/adventskalender.hbs
  src/components/pages/landing-pages/black-friday-angebot/black-friday-angebot--hk.hbs
  src/components/pages/landing-pages/black-friday-angebot/black-friday-angebot.hbs
Due: none

einige Änderungen
  src/components/modules/adventskalender/adventskalender.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region.hbs
  src/static/images/example.jpg
Due: none

neue Änderungen
  src/components/pages/landing-pages/black-friday-angebot/black-friday-angebot--hk.hbs
  src/components/pages/landing-pages/black-friday-angebot/black-friday-angebot.hbs
Due: none

Neue Änderungen
  src/components/pages/landing-pages/black-friday-angebot/black-friday-angebot--hk.hbs
  src/components/pages/landing-pages/black-friday-angebot/black-friday-angebot.hbs
Due: none

Einige Änderungen
  src/components/pages/landing-pages/black-friday-angebot/black-friday-angebot--hk.hbs
  src/components/pages/landing-pages/black-friday-angebot/black-friday-angebot.hbs
Due: none

kleine neue Änderung in blackfriday
  src/components/pages/landing-pages/black-friday-angebot/black-friday-angebot--hk.hbs
  src/components/pages/landing-pages/black-friday-angebot/black-friday-angebot.hbs
Due: none

eine neue Variante in newsletter-boxen bauen
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-unterschrift.hbs
Due: none

bilder-hinzufügen
  src/static/images/newsletter-boxen/newsletter-anmeldumg-mobile2.jpg
  src/static/images/newsletter-boxen/newsletter-anmeldung-desktop2.jpg
Due: none

NL-Boxen bearbeiten
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--autoren-region.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--autoren.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--default2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-title2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-unterschrift.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.hbs
  src/static/images/newsletter-boxen/newsletter-anmeldung-mobile2.jpg
Due: none

adventsklaender bearbeiten
  src/components/modules/adventskalender/adventskalender.hbs
Due: none

adventskalender bearbeiten
  src/components/modules/adventskalender/adventskalender.hbs
Due: none

bugfix in Adventskalender
  src/components/modules/adventskalender/adventskalender.hbs
Due: none

einen Tag ändern
  src/components/modules/adventskalender/adventskalender.hbs
Due: none

adventskalender
  src/components/modules/adventskalender/adventskalender.hbs
Due: none

Eine Anweisung im Adventskalender löschen
  src/components/modules/adventskalender/adventskalender.hbs
Due: none

newsletter-boxen
  src/components/atoms-and-molecules/buttons/buttons--und-a-link.hbs
  src/components/modules/adventskalender/adventskalender.hbs
  src/components/modules/newsletter-boxen-notifications/newsletter-boxen-notifications.hbs
  src/components/modules/newsletter/newsletter.config.json
  src/components/modules/newsletter/newsletter.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--autoren-region.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--autoren.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--default2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-title2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-unterschrift.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.hbs
Due: none

neue Tablet-Ansicht
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-unterschrift.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.hbs
  src/css/modules/newsletter-boxen-style.scss
  src/static/images/newsletter-boxen/newsletter-anmeldungen-ipad2.jpg
Due: yarn stylelint --fix

Kleine Änderung in newsletter
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region.hbs
Due: none

nur zwei Größen benutzen
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-unterschrift.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.hbs
  src/css/modules/newsletter-boxen-style.scss
Due: yarn stylelint --fix

loginbox Anweisungen kommentieren
  src/css/modules/header.scss
Due: yarn stylelint --fix

background: rgb(232,232,232); von #em_ad_superbanner löschen
  src/css/modules/header.scss
  src/css/modules/werbung-live.scss
Due: yarn stylelint --fix

buttons-Farbe ändern
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--autoren-region.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--autoren.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--default2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-title2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-unterschrift.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.hbs
  src/css/modules/header.scss
Due: yarn stylelint --fix

kleine Änderungen im NL
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--autoren-region.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-unterschrift.hbs
Due: none

engagently bearbeiten
  src/css/modules/engagently.scss
  src/css/modules/header.scss
Due: yarn stylelint --fix

shadow als inlinestyle
  src/components/modules/newsletter/newsletter.hbs
Due: none

Path conditions:
  yarn eslint --fix: any of: src/js/**/*.{ts,js}
  yarn stylelint --fix: any of: *.{scss,css}
