Repository dalkdev/owl-fractal-github-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint --fix

login-, zurücksetzen- und wiederholen-Seite bauen und Registrierungsseiten bearbeiten
  src/components/modules/slider/slider--lokal.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]login/[anzeigenservice]login--icon-login.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]login/[anzeigenservice]login.config.json
  src/components/pages/anzeigenservice/[anzeigenservice]login/[anzeigenservice]login.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]passwortseiten/[anzeigenservice]passwortseiten--passwort-wiederholen.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]passwortseiten/[anzeigenservice]passwortseiten.config.json
  src/components/pages/anzeigenservice/[anzeigenservice]passwortseiten/[anzeigenservice]passwortseiten.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]registrierung/[anzeigenservice]registrierung--copy2.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]registrierung/[anzeigenservice]registrierung.hbs
  src/components/pages/registrierungsseiten/registrierungsseiten--passwort-zuruecksetzen.hbs
  src/components/pages/registrierungsseiten/registrierungsseiten.hbs
Due: none

Trauer-Slider bauen
  src/components/modules/slider/slider--trauer.hbs
  src/components/modules/slider/slider.config.json
  src/css/app.scss
  src/css/modules/_embla-trauer-slider.scss
  src/static/images/arrow-right-black.svg
  src/static/images/chevron-right-micro.svg
  src/static/images/chevron-right.svg
  src/static/images/chvron-left-micro.svg
Due: yarn stylelint --fix

Alle Traueranzeigen- Satz im Sliderhinzufügen
  src/components/modules/slider/slider--trauer.hbs
Due: none

kleine Änderungen im Slider
  src/components/modules/slider/slider--trauer.hbs
Due: none

Änderung im Trauer-Slider und logins-Designs
  src/components/modules/slider/slider--trauer.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]login/[anzeigenservice]login.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]passwortseiten/[anzeigenservice]passwortseiten--passwort-wiederholen.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]passwortseiten/[anzeigenservice]passwortseiten.hbs
  src/css/modules/_embla-trauer-slider.scss
Due: yarn stylelint --fix

preisliste bearbeiten
  src/components/modules/preisliste/preisliste-hk/preisliste-hk.hbs
Due: none

Preisliste bearbeiten. icon-login bauen
  src/components/modules/preisliste/preisliste-hk/preisliste-hk.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]login/[anzeigenservice]login--icon-login.hbs
Due: none

avatar bauen
  src/components/fragments/avatar/avatar.config.json
  src/components/fragments/avatar/avatar.hbs
  src/components/pages/lesepaten/inhaltseite-ohne-header-und-footer/inhaltseite-ohne-header-und-footer.hbs
  src/static/images/avatar-profile-img-light.svg
  src/static/images/avatar-profile-img.svg
Due: none

nl-newsletter-erfolreich , Wartungseite bauen
  src/components/fragments/avatar/avatar.hbs
  src/components/modules/wartungsseite/wartungsseite.config.json
  src/components/modules/wartungsseite/wartungsseite.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]passwortseiten/[anzeigenservice]passwortseiten.hbs
  src/components/pages/landing-pages/audience-nl/audience-nl--erfolgreich.hbs
  zurücksetzen.php
Due: none

autorenseite bauen
  src/components/fragments/recobox-item/recobox-item--in-der-autorenseite.hbs
  src/components/fragments/recobox-item/recobox-item.config.json
  src/components/modules/social-icons/social-icons--autoren.hbs
  src/components/pages/autorenseiten/autoren-startseite/autoren-startseite.config.json
  src/components/pages/autorenseiten/autoren-startseite/autoren-startseite.hbs
  src/components/pages/autorenseiten/autorenseite-ohne-header-und-footer/autorenseite-ohne-header-und-footer.config.json
  src/components/pages/autorenseiten/autorenseite-ohne-header-und-footer/autorenseite-ohne-header-und-footer.hbs
  src/components/pages/autorenseiten/autorenseite.config.json
  src/css/app.scss
  src/css/modules/autoren-seite.scss
  src/static/images/autorenseite/autoren-facebook.svg
  src/static/images/autorenseite/autoren-instagram.svg
  src/static/images/autorenseite/autoren-mail.svg
  src/static/images/autorenseite/autoren-twitter.svg
Due: yarn stylelint --fix

Änderungen in der Autorenseite
  src/components/fragments/recobox-item/recobox-item--in-der-autorenseite.hbs
  src/components/modules/social-icons/social-icons--autoren.hbs
  src/components/pages/autorenseiten/autorenseite-ohne-header-und-footer/autorenseite-ohne-header-und-footer.hbs
  src/components/pages/autorenseiten/uebersichtseite/uebersichtseite--schreiben-redigieren.hbs
  src/components/pages/autorenseiten/uebersichtseite/uebersichtseite.conig.json
  src/components/pages/autorenseiten/uebersichtseite/uebersichtseite.hbs
  src/css/modules/autoren-seite.scss
Due: yarn stylelint --fix

eilmeldung-seite bauen
  src/components/fragments/eilmeldung/eilmeldung.config.json
  src/components/fragments/eilmeldung/eilmeldung.hbs
Due: none

eilmeldung ändern
  src/components/fragments/eilmeldung/eilmeldung.hbs
  src/components/styleguide/colors/colors.hbs
Due: none

Neue Änderungen in der Autorendetailseite
  src/components/modules/social-icons/social-icons--autoren.hbs
  src/components/modules/social-icons/social-icons.hbs
  src/components/pages/autorenseiten/autoren-startseite/autoren-startseite.config.json
  src/components/pages/autorenseiten/autoren-startseite/autoren-startseite.hbs
  src/components/pages/autorenseiten/autorendetailseite/autorendetailseite.config.json
  src/components/pages/autorenseiten/autorendetailseite/autorendetailseite.hbs
  src/components/pages/autorenseiten/autorenseite-ohne-header-und-footer/autorenseite-ohne-header-und-footer.hbs
  src/components/pages/autorenseiten/autorenseite.config.json
  src/components/pages/autorenseiten/autorenseite/autorenseite--filter-letter.hbs
  src/components/pages/autorenseiten/autorenseite/autorenseite.config.json
  src/components/pages/autorenseiten/autorenseite/autorenseite.hbs
  src/components/pages/autorenseiten/uebersichtseite/uebersichtseite.hbs
  src/static/images/autorenseite/facebook.svg
  src/static/images/autorenseite/instagram.svg
  src/static/images/autorenseite/mail.svg
  src/static/images/autorenseite/twitter.svg
Due: none

autorenseite bauen
  src/components/modules/autoren-liste/autoren-liste.config.json
  src/components/modules/autoren-liste/autoren-liste.hbs
  src/components/modules/autoren-profile/autoren-profile.config.json
  src/components/modules/autoren-profile/autoren-profile.hbs
  src/components/modules/search-buttons/search-buttons.config.json
  src/components/modules/search-buttons/search-buttons.hbs
  src/components/modules/social-icons/social-icons--autoren.hbs
  src/components/pages/autorenseiten/autorendetailseite/autorendetailseite.hbs
  src/components/pages/autorenseiten/autorenseite/autorenseite--filter-letter.hbs
  src/components/pages/autorenseiten/autorenseite/autorenseite.hbs
  src/css/modules/autoren-seite.scss
  src/static/images/autorenseite/autoren-facebook.svg
  src/static/images/autorenseite/autoren-instagram.svg
  src/static/images/autorenseite/autoren-mail.svg
  src/static/images/autorenseite/autoren-twitter.svg
  src/static/images/autorenseite/facebook.svg
  src/static/images/autorenseite/instagram.svg
  src/static/images/autorenseite/mail.svg
  src/static/images/autorenseite/twitter.svg
  src/static/images/instagram-icon.svg
Due: yarn stylelint --fix

kleine Änderungen in der Autorenseite
  src/components/modules/autoren-liste/autoren-liste.hbs
  src/components/pages/autorenseiten/autorenseite/autorenseite.hbs
Due: none

Die NAme von einer Datei ändern
  src/components/pages/autorenseiten/autorenuebersichtsseite/autorenuebersichtsseite.config.json
  src/components/pages/autorenseiten/autorenuebersichtsseite/autorenuebersichtsseite.hbs
Due: none

Kleine Änderung in Autorenseite
  src/components/pages/autorenseiten/autorenuebersichtsseite/autorenuebersichtsseite.hbs
Due: none

Änderungen in der Autorenseite
  src/components/modules/search-buttons/search-buttons.hbs
Due: none

hover-effekt hinzufügen
  src/components/modules/autoren-liste/autoren-liste.hbs
Due: none

Neue Änderungen in den Autorenseiten
  src/components/modules/autoren-liste/autoren-liste.hbs
  src/components/modules/search-buttons/search-buttons.hbs
  src/components/modules/social-icons/social-icons--autoren.hbs
  src/components/pages/autorenseiten/autorendetailseite/autorendetailseite.hbs
  src/components/pages/autorenseiten/autorenuebersichtsseite/autorenuebersichtsseite.hbs
  src/css/modules/autoren-seite.scss
Due: yarn stylelint --fix

einen Fehler beheben
  src/components/modules/social-icons/social-icons--autoren.hbs
Due: none

Javascript-Code für Dropdown erstellen
  src/components/pages/autorenseiten/autorenuebersichtsseite/autorenuebersichtsseite.hbs
  src/js/app.ts
  src/js/modules/dropdownMenu.js
Due: yarn eslint --fix

Änderungen in AutorenSeite und die Name ändern
  src/components/fragments/eilmeldung/eilmeldung.hbs
  src/components/modules/autoren-liste/autoren-liste.config.json
  src/components/modules/autoren-liste/autoren-liste.hbs
  src/components/modules/autoren-profile/autoren-profile.hbs
  src/components/modules/toggle-buttons/toggle-buttons.config.json
  src/components/modules/toggle-buttons/toggle-buttons.hbs
  src/components/pages/autorenseiten/autorenuebersichtsseite/autorenuebersichtsseite.config.json
  src/components/pages/autorenseiten/autorenuebersichtsseite/autorenuebersichtsseite.hbs
  src/css/modules/autoren-seite.scss
  src/css/modules/misc.scss
Due: yarn stylelint --fix

Eilmeldung Feedback
  src/components/fragments/eilmeldung/eilmeldung.hbs
  src/components/pages/rebrush-article/rebrush-article.hbs
Due: none

Eilmeldung-Feedback und Buttons in den Autorenseiten ändern ( disabled buttons )
  src/components/fragments/eilmeldung/eilmeldung.hbs
  src/components/pages/autorenseiten/autorendetailseite/autorendetailseite.hbs
  src/components/pages/autorenseiten/autorenuebersichtsseite/autorenuebersichtsseite.hbs
  src/components/pages/rebrush-article/rebrush-article.hbs
Due: none

kleine Änderung in der Autorenüersichtseite
  src/components/modules/autoren-liste/autoren-liste.hbs
Due: none

figma-styles hinzufügen und einige Änderungen in der Autorenseite
  src/components/atoms-and-molecules/buttons/buttons.hbs
  src/components/fragments/formfields/input-ohne-label/input--search.hbs
  src/components/modules/autoren-liste/autoren-liste.hbs
  src/components/modules/nw-plus/nw-plus-footer/nw-plus-footer--small-2.hbs
  src/components/modules/nw-plus/nw-plus-footer/nw-plus-footer--small.hbs
  src/components/modules/pagination/pagination.hbs
  src/components/pages/autorenseiten/autorenuebersichtsseite/autorenuebersichtsseite.hbs
  src/components/styleguide/border-styles/border-styles.hbs
  src/components/styleguide/divider-lines/divider-lines.hbs
  src/components/styleguide/layout-und-grid/layout-und-grid.hbs
  src/components/styleguide/shadows-blurs-outlines/shadows-blurs-outlines.hbs
  tailwind.config.js
Due: none

autorenseite bearbeiten
  src/components/pages/autorenseiten/autorenuebersichtsseite/autorenuebersichtsseite.config.json
Due: none

buttons with Icons bauenund scroll-y zur Autorenübersichtsseite hinzufügen
  src/components/atoms-and-molecules/buttons/buttons--with-icons.hbs
  src/components/atoms-and-molecules/buttons/buttons.hbs
  src/components/modules/autoren-profile/autoren-profile.hbs
  src/components/pages/autorenseiten/autorenuebersichtsseite/autorenuebersichtsseite.hbs
  src/components/styleguide/divider-lines/divider-lines.hbs
  src/css/modules/form-elements.scss
  tailwind.config.js
Due: yarn stylelint --fix

scrollbar-Design
  src/css/modules/misc.scss
Due: yarn stylelint --fix

Buttons-Änderungen
  src/components/atoms-and-molecules/buttons/buttons--with-icons.hbs
  src/css/modules/form-elements.scss
Due: yarn stylelint --fix

kleine Änderung im Button
  src/css/modules/form-elements.scss
Due: yarn stylelint --fix

rounded-buttons bauen, transition Effekte hinzufügen, Neue Änderungen in der Autorenseite
  src/components/atoms-and-molecules/buttons/buttons--rounded-with-icons.hbs
  src/components/atoms-and-molecules/buttons/buttons--rounded.hbs
  src/components/atoms-and-molecules/buttons/buttons--with-icons.hbs
  src/components/modules/autoren-liste/autoren-liste.hbs
  src/components/modules/toggle-buttons/toggle-buttons.hbs
  src/components/pages/autorenseiten/autorenuebersichtsseite/autorenuebersichtsseite.hbs
  src/css/modules/form-elements.scss
  src/js/modules/dropdownMenu.js
Due: yarn eslint --fix, yarn stylelint --fix

buttons beheben
  src/css/modules/form-elements.scss
Due: yarn stylelint --fix

transition 300 zu den Buttons hinzufügen
  src/css/modules/form-elements.scss
Due: yarn stylelint --fix

Ikons mit rounded-full-Buttons erstellen
  src/components/atoms-and-molecules/buttons/buttons--rounded-with-icons.hbs
Due: none

all buttons datei hinzufügen
  src/components/atoms-and-molecules/buttons/buttons--all-button.hbs
Due: none

Path conditions:
  yarn eslint --fix: any of: src/js/**/*.{ts,js}
  yarn stylelint --fix: any of: *.{scss,css}
