Repository dalkdev/owl-fractal-github-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint --fix

newsletter-page optimization
  src/components/fragments/newsletter-page/newsletter-page.hbs
Due: none

Kandidaten-page optimization
  src/components/fragments/kandidaten-page/kandidaten-page.config.json
  src/components/fragments/kandidaten-page/kandidaten-page.hbs
Due: none

spielerliste-building
  src/components/fragments/spielerliste-page/spielerliste-page..hbs
  src/components/fragments/spielerliste-page/spielerliste-page.conig.json
Due: none

spielerliste optimization
  src/components/fragments/spielerliste-page/spielerliste-page..hbs
  src/components/fragments/spielerliste-page/spielerliste-page.config.json
  src/components/fragments/spielerliste-page/spielerliste-page.conig.json
Due: none

some optimization in Kandidaten-Page
  src/components/fragments/kandidaten-page/kandidaten-page.hbs
Due: none

Bilder hinzufügen
  src/components/fragments/kandidaten-page/kandidaten-page.config.json
Due: none

Slider-text building
  src/components/fragments/slider/slider--mit-text.hbs
  src/components/fragments/slider/slider.config.json
  src/css/modules/_embla-slider.scss
Due: yarn stylelint --fix

Die Bilder löschen
  src/components/fragments/kandidaten-page/kandidaten-page.config.json
  src/components/fragments/kandidaten-page/kandidaten-page.hbs
Due: none

slider-text-bugfix2 optimization
  src/components/fragments/slider/slider--mit-text.hbs
  src/css/modules/_embla-slider.scss
Due: yarn stylelint --fix

sport-news-slider optimization
  src/components/fragments/sport-news/arminia-fanshop-slider/arminia-fanshop-slider.hbs
Due: none

( a Tag) hinzufügen
  src/components/fragments/slider/slider--mit-text.hbs
  src/components/fragments/slider/slider.hbs
Due: none

Cleanup & Landingpage Abo
  src/components/header/header/login-box/login-box.hbs
  src/components/pages/landingpage-abo/landingpage-abo-page/landingpage-abo-page.hbs
  src/components/pages/landingpage-für-vertrieb/button-landingpage/button-landingpage.hbs
  src/components/pages/landingpage-für-vertrieb/epaper-info-single-page/epaper-info-single-page.hbs
  src/components/pages/landingpage-für-vertrieb/epaper-info2-single-page/epaper-info2-single-page.hbs
  src/components/pages/landingpage-für-vertrieb/fragen-landingpage/fragen-landingpage.hbs
  src/components/pages/landingpage-für-vertrieb/gradient-page/gradient-page.hbs
  src/components/pages/landingpage-für-vertrieb/landingpage-für-vertrieb.config.json
  src/components/pages/landingpage-für-vertrieb/landingpage-für-vertrieb/landingpage-für-vertrieb.config.json
  src/components/pages/landingpage-für-vertrieb/landingpage-für-vertrieb/landingpage-für-vertrieb.hbs
  src/components/pages/landingpage-für-vertrieb/menu-landingpage/menu-landingpage.hbs
  src/components/pages/landingpage-für-vertrieb/single-page-menu/single-page-menu.hbs
  src/css/general/_main.scss
  src/css/modules/header.scss
  src/css/variables/_fonts.scss
  tailwind.config.js
Due: yarn stylelint --fix

abo lp
  images/nw-plus_icon.svg
  src/components/pages/landingpage-abo/landingpage-abo-page/landingpage-abo-page.hbs
  src/js/app.ts
  src/js/modules/faqElement.js
Due: yarn eslint --fix

einige elemente in Article-Detail-Page hinzufügen
  src/components/pages/article-detail-page/article-detail-page.config.json
  src/components/pages/article-detail-page/article-detail-page.hbs
Due: none

einige Änderungen löschen
  src/components/fragments/slider/slider--mit-text.hbs
  src/components/fragments/slider/slider.hbs
Due: none

moved slider back to fragments
  src/components/fragments/slider/slider.config.json
  src/components/fragments/slider/slider.hbs
Due: none

einige Modifikationen löschen
  src/components/fragments/slider/slider.hbs
Due: none

slider-flex building
  src/components/fragments/slider/slider--flex.hbs
  src/components/fragments/slider/slider--mit-text.hbs
  src/components/fragments/slider/slider.config.json
  src/css/modules/_embla-slider.scss
Due: yarn stylelint --fix

slider-flex building
  src/components/fragments/slider/slider--flex.hbs
  src/js/modules/embla-slider.ts
Due: yarn eslint --fix

frühlingslandingpage building
  src/components/fragments/fruhlingslandingpage/fruhlingslandingpage.config.json
  src/components/fragments/fruhlingslandingpage/fruhlingslandingpage.hbs
Due: none

eine Anweisung ändern
  src/components/fragments/slider/slider--flex.hbs
Due: none

frühlingspage optimization
  src/components/fragments/fruhlingslandingpage/fruhlingslandingpage.hbs
Due: none

frühlingslandingpage optimization
  src/components/fragments/fruhlingslandingpage/fruhlingslandingpage.hbs
  src/static/images/fruhlingslandingpage/aktuell.png
  src/static/images/fruhlingslandingpage/appbild.png
  src/static/images/fruhlingslandingpage/nw-karte.png
  tailwind.config.js
Due: none

frühlingslandingpage optimization
  src/components/fragments/fruhlingslandingpage/fruhlingslandingpage.hbs
Due: none

Dateien unbennant und Bilder hinzufügt
  src/components/pages/landingpage-fuer-vertrieb/button-landingpage/button-landingpage.hbs
  src/components/pages/landingpage-fuer-vertrieb/epaper-info-single-page/epaper-info-single-page.hbs
  src/components/pages/landingpage-fuer-vertrieb/epaper-info2-single-page/epaper-info2-single-page.hbs
  src/components/pages/landingpage-fuer-vertrieb/fragen-landingpage/fragen-landingpage.hbs
  src/components/pages/landingpage-fuer-vertrieb/gradient-page/gradient-page.hbs
  src/components/pages/landingpage-fuer-vertrieb/landingpage-fuer-vertrieb.config.json
  src/components/pages/landingpage-fuer-vertrieb/landingpage-fuer-vertrieb/landingpage-fuer-vertrieb.config.json
  src/components/pages/landingpage-fuer-vertrieb/landingpage-fuer-vertrieb/landingpage-fuer-vertrieb.hbs
  src/components/pages/landingpage-fuer-vertrieb/menu-landingpage/menu-landingpage.hbs
  src/components/pages/landingpage-fuer-vertrieb/single-page-menu/single-page-menu.hbs
Due: none

bugfixes button E-Paper Landingpage
  src/components/pages/landingpage-für-vertrieb/button-landingpage/button-landingpage.hbs
  src/components/pages/landingpage-für-vertrieb/landingpage-für-vertrieb/landingpage-für-vertrieb.config.json
  src/css/modules/form-elements.scss
Due: yarn stylelint --fix

Neue Änderungen von Vertrieb
  src/components/fragments/nw-plus-landingpage/absolute-image/absolute-image.hbs
  src/components/fragments/nw-plus-landingpage/fragen-page/fragen-page.hbs
  src/components/fragments/nw-plus-landingpage/full-page/full-page.hbs
  src/components/fragments/nw-plus-landingpage/nw-plus-landingpage.config.json
  src/components/fragments/nw-plus-landingpage/single-page/single-page.hbs
Due: none

nw-plus-abo-artikel building
  src/components/nw-plus-abo-artikel/nw-plus-abo-artikel.config.json
  src/components/nw-plus-abo-artikel/nw-plus-abo-artikel.hbs
  src/static/images/check-icon.svg
  src/static/images/chevron-down.svg
  tailwind.config.js
Due: none

nw-plus-abo artikel einbauen und accordion machen
  src/components/nw-plus-abo-artikel/nw-plus-abo-artikel.hbs
Due: none

accordion Optmierung und onclick-functions machen
  src/components/nw-plus-abo-artikel/nw-plus-abo-artikel.hbs
Due: none

einige Änderungen im Button Abschnitt
  src/components/nw-plus-abo-artikel/nw-plus-abo-artikel.hbs
Due: none

Merge-Test mit Oli
  src/components/pages/landingpage-fuer-vertrieb/landingpage-fuer-vertrieb/landingpage-fuer-vertrieb.config.json
Due: none

Merge-Test mit Carmen erledigt.
  src/components/pages/landingpage-fuer-vertrieb/landingpage-fuer-vertrieb/landingpage-fuer-vertrieb.config.json
Due: none

nw-plus-abo-artikel refactor
  src/components/modules/nw-plus-abo-artikel/nw-plus-abo-artikel.config.json
  src/components/modules/nw-plus-abo-artikel/nw-plus-abo-artikel.hbs
Due: none

nw-plus-abo-artikel Optimierung und das Obere ausgeklapt machen
  images/chevron-up.svg
  src/components/modules/nw-plus-abo-artikel/nw-plus-abo-artikel.hbs
Due: none

Path conditions:
  yarn eslint --fix: any of: src/js/**/*.{ts,js}
  yarn stylelint --fix: any of: *.{scss,css}
