Repository dalkdev/owl-fractal-github-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint --fix

.lintstagedrc.json:

{
  "src/js/**/*.{ts,js}": "yarn eslint --fix",
  "*.{scss,css}": "yarn stylelint --fix"
}

eine Anweisung ändern
  src/components/modules/epaper-notfall-box/epaper-notfall-box.hbs
Due: none

sommer-angebot page bauen
  src/components/pages/landing-pages/sommer-angebot/sommer-angebot.config.json
  src/components/pages/landing-pages/sommer-angebot/sommer-angebot.hbs
  src/css/modules/form-elements.scss
Due: yarn stylelint --fix

Sommer-Angebot bauen und scss Dateien sortieren
  src/components/pages/landing-pages/sommer-angebot/sommer-angebot.config.json
  src/css/app.scss
  src/css/fractal-custom.css
  src/css/modules/form-elements.scss
  src/css/modules/landingpage.scss
  src/static/images/sommer-angebot-page/sommerangebot1.jpg
  src/static/images/sommer-angebot-page/sommerangebot2.jpg
  src/static/images/sommer-angebot-page/sommerangebot3.jpg
Due: yarn stylelint --fix

SCSS Datei-Name ändern
  fractal.config.js
  src/css/app.scss
  src/css/modules/fractal-custom.scss
  vite.config.ts
Due: yarn stylelint --fix

src/css/fractal-custom.scss löchen
  vite.config.ts
Due: none

Die Schriften ein bisschen größer machen
  src/components/pages/landing-pages/sommer-angebot/sommer-angebot.hbs
Due: none

flex benutzen und grid löschen
  src/components/pages/anzeigenservice/[anzeigenservice]account-page/[anzeigenservice]account-page.hbs
  src/components/pages/landing-pages/sommer-angebot/sommer-angebot.hbs
Due: none

arminia-angebot-page bauen
  src/components/modules/epaper-notfall-box/epaper-notfall-box.hbs
  src/components/pages/landing-pages/arminia-angebot/arminia-angebot.config.json
  src/components/pages/landing-pages/arminia-angebot/arminia-angebot.hbs
  src/components/pages/landing-pages/sommer-angebot/sommer-angebot.hbs
  src/static/images/arminia-angebot/img-analysen.jpg
  src/static/images/arminia-angebot/img-arminia-header.jpg
  src/static/images/arminia-angebot/img-live-ticker.jpg
  src/static/images/arminia-angebot/img-transfer.jpg
Due: none

ein transparent-Bild hinzufügen
  src/components/modules/abo-sichern-page/abo-sichern-page.config.json
  src/static/images/nwplus-smartphone-transparent.png
Due: none

Das transparent-Bild hinzufügen
  src/static/images/nwplus-smartphone-transparent.png
Due: none

Mobil and Tablet nebeneinander
  src/components/modules/abo-sichern-page/abo-sichern-page.hbs
Due: none

Einige Änderungen vom Bereich
  src/components/modules/abo-sichern-page/abo-sichern-page.hbs
Due: none

Event-Portal-Page bauen und eine kleine Änderung in landingpage.scss
  src/components/modules/event-portal-page/event-portal-page.config.json
  src/components/modules/event-portal-page/event-portal-page.hbs
  src/css/modules/landingpage.scss
  src/static/images/event-portal-img.svg
  tailwind.config.js
Due: yarn stylelint --fix

Event-Portal_teaser bauen
  src/components/modules/event-portal-page/event-portal-page.config.json
  src/components/modules/event-portal-page/event-portal-page.hbs
  src/components/modules/event-portal-teaser/event-portal-teaser.config.json
  src/components/modules/event-portal-teaser/event-portal-teaser.hbs
  src/static/images/erwin-Logo-white-blue.svg
  src/static/images/event-portal-augen-img.svg
Due: none

Kleine Änderung in Event-Portal-Teaser
  src/components/modules/event-portal-teaser/event-portal-teaser.hbs
Due: none

Logo-Messung ändern
  src/components/modules/event-portal-teaser/event-portal-teaser.config.json
  src/components/modules/event-portal-teaser/event-portal-teaser.hbs
Due: none

new element created+ other changes
  src/components/fragments/banner/banner--without-nw-plus.hbs
  src/components/modules/articles/article-list/article-list.config.json
  src/components/modules/articles/article-list/article-list.hbs
  src/components/modules/articles/article-teaser/article-teaser--erwin-event.hbs
Due: none

Video Seite, Slider machen und einige Seiten Verbessern,
  src/components/modules/articles/article-themenbox/article-themenbox.config.json
  src/components/modules/articles/article-themenbox/article-themenbox.hbs
  src/components/modules/leseempfehlung/leseempfehlung.hbs
  src/components/modules/slider/slider--flex.hbs
  src/components/modules/slider/slider--mit-text.hbs
  src/components/modules/slider/slider.config.json
  src/components/modules/slider/slider.hbs
  src/components/modules/video-box/video-box.config.json
  src/components/modules/video-box/video-box.hbs
  src/css/app.scss
  src/css/modules/_embla-slider.scss
  src/css/modules/misc.scss
  tailwind.config.js
Due: yarn stylelint --fix

Die Seite verbessern
  src/components/fragments/Buttons/link-button/link-button.hbs
  src/components/pages/landing-pages/epaper/epaper.config.json
  src/components/pages/landing-pages/epaper/epaper.hbs
  src/css/modules/form-elements.scss
Due: yarn stylelint --fix

rebrush article bauen
  src/components/fragments/banner/banner.hbs
  src/components/modules/articles/author/author--der-name-des-autors.hbs
  src/components/modules/articles/author/author--mehrere-Autoren.hbs
  src/components/modules/articles/author/author--ohne-bild.hbs
  src/components/modules/articles/author/author.hbs
  src/components/modules/articles/rebrush-article/rebrush-article.config.json
  src/components/modules/articles/rebrush-article/rebrush-article.hbs
  src/components/modules/social-icons/social-icons.config.json
  src/components/modules/social-icons/social-icons.hbs
  src/css/modules/form-elements.scss
  src/static/images/arrow-down-circle.svg
  src/static/images/arrow-left-circle.svg
  src/static/images/bookmark.svg
  src/static/images/envelope.svg
Due: yarn stylelint --fix

themenbox Slider bauen (Mobile Design)
  src/components/modules/articles/article-themenbox/article-themenbox.config.json
  src/components/modules/articles/article-themenbox/article-themenbox.hbs
Due: none

rerush article bauen und icons hinzufügen
  src/components/modules/social-icons/social-icons.hbs
  src/static/images/facebook.svg
  src/static/images/twitter.svg
Due: none

README.md Datei hinzufügen
  src/components/modules/articles/article-themenbox/README.md
Due: none

rebrush-article umziehen
  src/components/pages/rebrush-article/rebrush-article.config.json
  src/components/pages/rebrush-article/rebrush-article.hbs
Due: none

Privacy Module, Slider. und Videobox verbessern
  src/components/fragments/video-player/video-player.config.json
  src/components/fragments/video-player/video-player.hbs
  src/components/modules/articles/privacy/privacy--videobox.hbs
  src/components/modules/articles/privacy/privacy.hbs
  src/components/modules/slider/slider--mit-text.hbs
  src/components/modules/slider/slider.config.json
  src/components/modules/video-box/video-box.hbs
  src/components/pages/article-detail-page/article-detail-page.hbs
  src/css/variables/_colors.scss
  src/static/images/icon-socialmedia-facebook.svg
  tailwind.config.js
Due: yarn stylelint --fix

Link-Liste , Info-Box . Download-Liste und einige Verbesserugen
  src/components/fragments/image/image--rounded.hbs
  src/components/fragments/image/image.config.json
  src/components/fragments/link/link--download.hbs
  src/components/fragments/link/link.hbs
  src/components/modules/articles/article-themenbox/article-themenbox.config.json
  src/components/modules/articles/article-themenbox/article-themenbox.hbs
  src/components/modules/articles/privacy/privacy--videobox.hbs
  src/components/modules/download/download.config.json
  src/components/modules/download/download.hbs
  src/components/modules/info-box/info-box.config.json
  src/components/modules/info-box/info-box.hbs
  src/components/modules/link-liste/link-liste.config.json
  src/components/modules/link-liste/link-liste.hbs
  src/components/modules/slider/slider--mit-text.hbs
  src/components/modules/slider/slider.hbs
  src/components/pages/rebrush-article/rebrush-article.config.json
  src/components/pages/rebrush-article/rebrush-article.hbs
  src/css/modules/_embla-slider.scss
  src/static/images/arrow-down-tray.svg
Due: yarn stylelint --fix

neue Änderungen in einigen Seiten
  src/components/modules/download/download.hbs
  src/components/modules/link-liste/link-liste.hbs
  src/components/modules/slider/slider.config.json
  src/components/pages/rebrush-article/rebrush-article.config.json
  src/components/pages/rebrush-article/rebrush-article.hbs
Due: none

erwint-event-page bauen
  src/components/modules/erwin-tickets/erwin-tickets.config.json
  src/components/modules/erwin-tickets/erwin-tickets.hbs
  src/components/modules/lz-tickets/lz-tickets.config.json
  src/components/modules/lz-tickets/lz-tickets.hbs
  src/components/pages/erwin-event-page/erwin-event-page.config.json
  src/components/pages/erwin-event-page/erwin-event-page.hbs
  src/static/images/img-erwin-event.svg
  src/static/images/img-lz.jpg
  src/static/images/logo-short.png
  tailwind.config.js
Due: none

Image mit Button bauen und einige Verbesserungen
  src/components/fragments/image/image--with-button.hbs
  src/components/modules/abonnieren-icon/abonnieren-icon.config.json
  src/components/modules/abonnieren-icon/abonnieren-icon.hbs
  src/components/modules/download/download.hbs
  src/components/modules/info-box/info-box.hbs
  src/components/modules/link-liste/link-liste.hbs
  src/components/modules/social-icons/social-icons.hbs
  src/components/pages/rebrush-article/rebrush-article.hbs
  src/css/modules/misc.scss
  src/static/images/apple-podcast-icon.svg
  src/static/images/deezer-icon.svg
  src/static/images/spotify-icon.svg
Due: yarn stylelint --fix

empfehlungen Seite und Kommentare Seite
  src/components/modules/articles/empfehlungen/empfehlungen.config.json
  src/components/modules/articles/empfehlungen/empfehlungen.hbs
  src/components/modules/kommentare/kommentare.config.json
  src/components/modules/kommentare/kommentare.hbs
Due: none

Die Bilder ändern
  src/static/images/img-erwin-event.svg
  src/static/images/img-lz.jpg
Due: none

einige Änderungen in Erwint-Page , Landing-Page, Rebrush-Page
  src/components/fragments/Buttons/link-button/link-button--secondary.hbs
  src/components/fragments/Buttons/link-button/link-button.hbs
  src/components/modules/articles/author/author.hbs
  src/components/modules/erwin-tickets/erwin-tickets.hbs
  src/components/modules/kommentare/kommentare.hbs
  src/components/modules/lz-tickets/lz-tickets.hbs
  src/components/pages/erwin-event-page/erwin-event-page.hbs
  src/components/pages/landing-pages/epaper/epaper.hbs
  src/components/pages/rebrush-article/rebrush-article.config.json
  src/components/pages/rebrush-article/rebrush-article.hbs
Due: none

Kommentare Seite bauen
  src/components/modules/ads/ads--body.hbs
  src/components/modules/ads/ads--header.hbs
  src/components/modules/ads/ads.config.json
  src/components/modules/ads/ads.hbs
  src/components/modules/articles/empfehlungen/empfehlungen.hbs
  src/components/modules/articles/privacy/privacy.hbs
  src/components/modules/download/download.hbs
  src/components/modules/kommentar-box/kommentar-box.config.json
  src/components/modules/kommentar-box/kommentar-box.hbs
  src/components/modules/kommentare/kommentare.hbs
  src/components/modules/kunde-kommentar/kunde-kommentar.config.json
  src/components/modules/kunde-kommentar/kunde-kommentar.hbs
  src/components/pages/rebrush-article/rebrush-article.config.json
  src/components/pages/rebrush-article/rebrush-article.hbs
  src/css/modules/misc.scss
  src/static/images/arrow-return-left.svg
  src/static/images/arrow-top-right-on.svg
  src/static/images/exclamation-triangle.svg
  src/static/images/heart.svg
Due: yarn stylelint --fix

Kleine Änderung in der Seite
  src/components/pages/landing-pages/epaper/epaper.hbs
Due: none

eine kleine Änderung
  src/components/pages/landing-pages/epaper/epaper.hbs
Due: none

Rebrush-Artikel bauen
  src/components/modules/kommentar-box/kommentar-box.hbs
  src/components/modules/kommentare/kommentare.hbs
  src/components/modules/kunde-kommentar/kunde-kommentar.hbs
  src/components/pages/rebrush-article/rebrush-article.hbs
Due: none

Header und Footer hinzugefügt.
  src/components/pages/rebrush-article/rebrush-article.hbs
Due: none

rebrush bauen
  src/components/fragments/image/image--with-button.hbs
  src/components/modules/ads/ads--body.hbs
  src/components/modules/ads/ads--header.hbs
  src/components/modules/ads/ads.hbs
  src/components/modules/articles/empfehlungen/empfehlungen.hbs
  src/components/modules/articles/privacy/privacy.hbs
  src/components/modules/info-box/info-box.hbs
  src/components/modules/kommentar-box/kommentar-box.config.json
  src/components/modules/kommentar-box/kommentar-box.hbs
  src/components/modules/kommentare/kommentare.hbs
  src/components/modules/kunde-kommentar/kunde-kommentar.hbs
  src/components/pages/rebrush-article/rebrush-article.hbs
  src/css/app.scss
  src/css/modules/article.scss
  src/css/modules/misc.scss
  src/js/app.ts
  src/js/modules/togglefunction.js
  tailwind.config.js
Due: yarn eslint --fix, yarn stylelint --fix

rebrush bauen
  src/components/pages/rebrush-article/rebrush-article.hbs
Due: none

Liveticker Template
  src/components/modules/liveticker/liveticker.config.json
  src/components/modules/liveticker/liveticker.hbs
Due: none
