Repository dalkdev/owl-fractal-github-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint --fix

TypeError im JS entfernt
  src/js/modules/login-box.js
Due: yarn eslint --fix

thema-box building
  src/components/fragments/thema-box/thema-box.config.json
  src/components/fragments/thema-box/thema-box.hbs
Due: none

thema-box building
  images/chevron-right.svg
  images/mehr-thema-icon.svg
  src/components/fragments/thema-box/thema-box.config.json
  src/components/fragments/thema-box/thema-box.hbs
Due: none

thema-box optimization
  src/components/fragments/thema-box/thema-box.config.json
  src/components/fragments/thema-box/thema-box.hbs
Due: none

thema-box optimization
  src/components/fragments/thema-box/single-list/single-list.hbs
  src/components/fragments/thema-box/single-thema-box/single-thema-box.config.json
  src/components/fragments/thema-box/single-thema-box/single-thema-box.hbs
  src/components/fragments/thema-box/thema-box.config.json
  src/components/fragments/thema-box/thema-box.hbs
  src/components/fragments/thema-box/thema-box/thema-box.hbs
Due: none

thema-box optimization
  src/components/fragments/thema-box/glossar-box/glossar-box.hbs
  src/components/fragments/thema-box/thema-box.config.json
  src/components/fragments/thema-box/thema-box/thema-box.hbs
Due: none

some optimization
  package.json
  src/components/fragments/thema-box/single-thema-box/single-thema-box.hbs
  src/components/fragments/thema-box/thema-box/thema-box.hbs
  src/css/modules/thema-box.scss
  yarn.lock
Due: yarn stylelint --fix

some optimiztion
  src/components/fragments/thema-box/single-thema-box/single-thema-box.hbs
  src/components/fragments/thema-box/thema-box/thema-box.hbs
  src/css/modules/thema-box.scss
Due: yarn stylelint --fix

some optimization in thema-box
  src/components/fragments/burger-menu/burger-menu/burger-menu.hbs
  src/components/fragments/thema-box/single-thema-box/single-thema-box.config.json
  src/components/fragments/thema-box/single-thema-box/single-thema-box.hbs
  src/components/fragments/thema-box/thema-box.config.json
  src/components/fragments/thema-box/thema-box/thema-box.hbs
  src/css/app.scss
  src/css/modules/thema-box.scss
Due: yarn stylelint --fix

some optimization
  src/components/fragments/thema-box/single-thema-box/single-thema-box.hbs
  src/components/fragments/thema-box/thema-box.config.json
  src/css/modules/thema-box.scss
Due: yarn stylelint --fix

nw-plus-landingpage building
  images/check-circle.svg
  images/clock-icon.svg
  images/device-mobile-icon.svg
  images/globe-icon.svg
  images/newspaper-icon.svg
  src/components/fragments/nw-plus-landingpage/nw-plus-landing-page/nw-plus-landingpage.hbs
  src/components/fragments/nw-plus-landingpage/nw-plus-landingpage.config.json
  src/components/fragments/nw-plus-landingpage/single-page/single-page.hbs
Due: none

nw-plus-landingpage optimization
  images/folder-icon.svg
  images/mail-icon.svg
  images/phone-icon.svg
  src/components/fragments/nw-plus-landingpage/absolute-image/absolute-image.hbs
  src/components/fragments/nw-plus-landingpage/fragen-page/fragen-page.hbs
  src/components/fragments/nw-plus-landingpage/full-page/full-page.hbs
  src/components/fragments/nw-plus-landingpage/nw-plus-landing-page/nw-plus-landingpage.hbs
  src/components/fragments/nw-plus-landingpage/nw-plus-landingpage.config.json
  src/components/fragments/nw-plus-landingpage/single-card/single-card.hbs
  src/components/fragments/nw-plus-landingpage/single-icon-box/single-icon-box.hbs
  src/components/fragments/nw-plus-landingpage/single-icon-box2/single-icon-box2.hbs
  src/components/fragments/nw-plus-landingpage/single-page/single-page.hbs
Due: none

Recobox Anpassungen
  src/components/fragments/recobox/recobox-nw/reccobox-nw.hbs
  src/css/app.scss
  src/css/modules/recobox.scss
Due: yarn stylelint --fix

JIT entfernt.
  tailwind.config.js
Due: none

nw plus-landingpage optimization
  src/components/fragments/nw-plus-landingpage/absolute-image/absolute-image.hbs
  src/components/fragments/nw-plus-landingpage/fragen-page/fragen-page.hbs
  src/components/fragments/nw-plus-landingpage/full-page/full-page.hbs
  src/components/fragments/nw-plus-landingpage/single-card/single-card.hbs
  src/components/fragments/nw-plus-landingpage/single-icon-box/single-icon-box.hbs
  src/components/fragments/nw-plus-landingpage/single-icon-box2/single-icon-box2.hbs
  src/components/fragments/nw-plus-landingpage/single-page/single-page.hbs
Due: none

some optimization and theme-box-bielefeld building
  src/components/fragments/thema-box/single-thema-box/single-thema-box.config.json
  src/components/fragments/thema-box/single-thema-box/single-thema-box.hbs
  src/components/fragments/thema-box/thema-box-bielefeld/thema-box-bielefeld.config.json
  src/components/fragments/thema-box/thema-box-bielefeld/thema-box-bielefeld.hbs
  src/components/fragments/thema-box/themenglossar-buttons/themenglossar-buttons.hbs
Due: none

some optimization
  src/components/fragments/thema-box/glossar-box/glossar-box.hbs
  src/components/fragments/thema-box/thema-box.config.json
  src/css/app.scss
Due: yarn stylelint --fix

some optimization in nw-plus-landingpage
  src/components/fragments/nw-plus-landingpage/single-page/single-page.hbs
Due: none

thema-box optimization and thema-box-bielefeld building
  src/components/fragments/thema-box/thema-box-bielefeld/thema-box-bielefeld.config.json
  src/components/fragments/thema-box/thema-box-bielefeld/thema-box-bielefeld.hbs
Due: none

nw-plus-landinpage optimization
  images/banner-women-notebook.jpg
  src/components/fragments/nw-plus-landingpage/absolute-image/absolute-image.hbs
  src/components/fragments/nw-plus-landingpage/full-page/full-page.hbs
  src/components/fragments/nw-plus-landingpage/nw-plus-landingpage.config.json
  src/components/fragments/nw-plus-landingpage/single-icon-box/single-icon-box.hbs
  src/components/fragments/nw-plus-landingpage/single-icon-box2/single-icon-box2.hbs
Due: none

Recobox hinzugefügt
  src/components/fragments/recobox/recobox-nw/reccobox-nw.hbs
  src/css/modules/recobox.scss
  src/js/app.ts
Due: yarn eslint --fix, yarn stylelint --fix

nw-plus-landingpage optimization
  images/banner-women-notebook.jpg
  src/components/fragments/nw-plus-landingpage/full-page/full-page.hbs
  src/components/fragments/nw-plus-landingpage/nw-plus-landingpage.config.json
  src/components/fragments/nw-plus-landingpage/single-page-nwbundle/single-page-nwbundle.hbs
  src/components/fragments/nw-plus-landingpage/single-page-nwepaper/single-page-nwepaper.hbs
Due: none

bilder hinzufügen
  images/nw-plus-landingpage/480x480-banner-nw+_ipad+ipad.jpg
  images/nw-plus-landingpage/480x480-banner-nw+_ipad.jpg
  images/nw-plus-landingpage/480x480-banner-nw+_smartphone.jpg
  images/nw-plus-landingpage/banner-women-notebook.jpg
  images/nw-plus-landingpage/ipad-interaction.png
Due: none

Recobox hinzugefügt
  src/images/check-circle.svg
  src/images/chevron-right.svg
  src/images/clock-icon.svg
  src/images/device-mobile-icon.svg
  src/images/folder-icon.svg
  src/images/globe-icon.svg
  src/images/icon-registration.svg
  src/images/icon1-welcoming.svg
  src/images/icon2-welcoming.svg
  src/images/icons-confirmation.svg
  src/images/icons-outline-icon-bell.svg
  src/images/icons-outline-icon-massage.svg
  src/images/logo_nw.svg
  src/images/mail-icon.svg
  src/images/mehr-thema-icon.svg
  src/images/newspaper-icon.svg
  src/images/nw-plus-landingpage/480x480-banner-nw+_ipad+ipad.jpg
  src/images/nw-plus-landingpage/480x480-banner-nw+_ipad.jpg
  src/images/nw-plus-landingpage/480x480-banner-nw+_smartphone.jpg
  src/images/nw-plus-landingpage/banner-women-notebook.jpg
  src/images/nw-plus-landingpage/ipad-interaction.png
  src/images/nw-wortmarke-logo.svg
  src/images/phone-icon.svg
  src/images/ueberbit-icon.png
Due: none

them-box-bielefeld optimization
  src/components/fragments/thema-box/thema-box-bielefeld/thema-box-bielefeld.config.json
  src/components/fragments/thema-box/thema-box-bielefeld/thema-box-bielefeld.hbs
Due: none

nw-plus-landingpage optimization
  images/nw-plus-landingpage/480x480-banner-nw+_ipad+ipad.jpg
  images/nw-plus-landingpage/480x480-banner-nw+_ipad.jpg
  images/nw-plus-landingpage/480x480-banner-nw+_smartphone.jpg
  images/nw-plus-landingpage/banner-women-notebook.jpg
  images/nw-plus-landingpage/ipad-interaction.png
  src/components/fragments/nw-plus-landingpage/absolute-image/absolute-image.hbs
  src/components/fragments/nw-plus-landingpage/fragen-page/fragen-page.hbs
  src/components/fragments/nw-plus-landingpage/full-page/full-page.hbs
  src/components/fragments/nw-plus-landingpage/nw-plus-landingpage.config.json
  src/components/fragments/nw-plus-landingpage/single-card/single-card.hbs
  src/components/fragments/nw-plus-landingpage/single-icon-box/single-icon-box.hbs
  src/components/fragments/nw-plus-landingpage/single-icon-box2/single-icon-box2.hbs
  src/components/fragments/nw-plus-landingpage/single-page-nwbundle/single-page-nwbundle.hbs
  src/components/fragments/nw-plus-landingpage/single-page-nwepaper/single-page-nwepaper.hbs
  src/components/fragments/nw-plus-landingpage/single-page/single-page.hbs
Due: none

nw-thema-box-bielefeld optimization
  src/components/fragments/thema-box/thema-box-bielefeld/thema-box-bielefeld.config.json
  src/components/fragments/thema-box/thema-box-bielefeld/thema-box-bielefeld.hbs
Due: none

thema-box-bielefeld optimzation
  src/components/fragments/thema-box/thema-box-bielefeld/thema-box-bielefeld.hbs
  src/css/app.scss
Due: yarn stylelint --fix

Bugfixes Recoboxen
  src/components/fragments/recobox/recobox-nw/reccobox-nw.hbs
  src/css/modules/recobox.scss
Due: yarn stylelint --fix

schlagworte-page building und thema-box-bieleeld optimization
  src/components/fragments/thema-box/glossar-box-bielefeld/glossar-box-bielefeld.hbs
  src/components/fragments/thema-box/glossar-box-stadt/glossar-box-stadt.hbs
  src/components/fragments/thema-box/schlagworte-page/schlagworte-page.hbs
  src/components/fragments/thema-box/thema-box-bielefeld/thema-box-bielefeld.config.json
  src/components/fragments/thema-box/thema-box-bielefeld/thema-box-bielefeld.hbs
  src/components/fragments/thema-box/thema-box.config.json
  src/components/fragments/thema-box/themenglossar-buttons/themenglossar-buttons.hbs
Due: none

schlagworte-page optimization
  src/components/fragments/thema-box/schlagworte-page/schlagworte-page.hbs
  src/components/fragments/thema-box/themenglossar-buttons/themenglossar-buttons.hbs
Due: none

Loginbox Bugfixes
  src/components/fragments/formfields/input-ohne-label/input--email.hbs
  src/components/fragments/formfields/input-ohne-label/input--password.hbs
  src/components/fragments/formfields/input-ohne-label/input--search.hbs
  src/components/fragments/formfields/input-ohne-label/input.hbs
  src/components/fragments/header/login-box/login-box.hbs
Due: none

some optimization in thema-box, thema-box-bielefeld und schlagworte Page
  src/components/fragments/thema-box/schlagworte-page/schlagworte-page.hbs
  src/components/fragments/thema-box/thema-box-bielefeld/thema-box-bielefeld.hbs
  src/components/fragments/thema-box/thema-box.config.json
  src/components/fragments/thema-box/thema-box/thema-box.hbs
  src/components/fragments/thema-box/themenglossar-buttons/themenglossar-buttons.hbs
Due: none

epaper-notfall-box building
  images/epaper-notfall-box/epaper-notfall-image.png
  src/components/fragments/epaper-notfall-box/epaper-notfall-box.config.json
  src/components/fragments/epaper-notfall-box/epaper-notfall-box.hbs
Due: none

themenglossar-buttons optimization
  src/components/fragments/thema-box/themenglossar-buttons/themenglossar-buttons.hbs
Due: none

epaper-notfall-box optimization
  src/components/fragments/epaper-notfall-box/epaper-notfall-box.config.json
  src/components/fragments/epaper-notfall-box/epaper-notfall-box.hbs
Due: none

epaper-notfall-box optimization
  images/epaper-notfall-box/ipad-screen.PNG
  src/components/fragments/epaper-notfall-box/epaper-notfall-box.config.json
  src/components/fragments/epaper-notfall-box/epaper-notfall-box.hbs
Due: none

landingpage für Vertrieb building
  src/components/fragments/landingpage-für-vertrieb/landingpage-für-vertrieb.config.json
  src/components/fragments/landingpage-für-vertrieb/landingpage-für-vertrieb.hbs
Due: none

Path conditions:
  yarn eslint --fix: any of: src/js/**/*.{ts,js}
  yarn stylelint --fix: any of: *.{scss,css}
