Repository dalkdev/owl-fractal-github-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint --fix

Bugfixes Burgermenu
  src/components/fragments/burger-menu/burger-menu-dropdown-indicator/dropdown-indicator.config.json
  src/components/fragments/burger-menu/burger-menu-dropdown-indicator/dropdown-indicator.hbs
  src/components/fragments/burger-menu/burger-menu/burger-menu--open.hbs
  src/components/fragments/burger-menu/burger-menu/burger-menu.config.json
  src/components/fragments/burger-menu/burger-menu/burger-menu.hbs
  src/components/fragments/burger-menu/burger-nav-item-dropdown/burger-nav-item-dropdown--open.hbs
  src/components/fragments/burger-menu/burger-nav-item-dropdown/burger-nav-item-dropdown.config.json
  src/components/fragments/burger-menu/burger-nav-item-dropdown/burger-nav-item-dropdown.hbs
  src/components/fragments/burger-menu/burger-nav-item-single/burger-nav-item-single.hbs
  src/components/fragments/formfields/input-ohne-label/input--search.hbs
  src/components/fragments/header/header-full/header-full.hbs
  src/components/fragments/header/menu-section/menu-section.hbs
  src/css/modules/burger-menu.scss
  src/js/modules/burger-menu.js
Due: yarn eslint --fix, yarn stylelint --fix

Bugfixes Burgermenu
  src/components/fragments/burger-menu/burger-menu/burger-menu.config.json
Due: none

Bugfixes Burgermenu
  src/components/fragments/burger-menu/burger-menu/burger-menu.hbs
Due: none

Bugfixes Burgermenu
  src/components/fragments/burger-menu/burger-menu-footer/burger-menu-footer.hbs
  src/components/fragments/burger-menu/burger-menu/burger-menu.config.json
  src/components/fragments/burger-menu/burger-menu/burger-menu.hbs
  src/components/fragments/burger-menu/burger-nav-item-dropdown/burger-nav-item-dropdown.hbs
  src/components/fragments/header/header-full/header-full.hbs
  src/css/modules/burger-menu.scss
  src/js/modules/burger-menu.js
Due: yarn eslint --fix, yarn stylelint --fix

Bugfixes Burgermenu
  src/components/fragments/burger-menu/burger-menu/burger-menu.config.json
  src/components/fragments/burger-menu/burger-menu/burger-menu.hbs
  src/components/fragments/formfields/input-ohne-label/input--search.hbs
  src/components/fragments/header/logo-section/logo-section.hbs
  src/components/fragments/header/menu-section/menu-section.hbs
  src/js/modules/burger-menu.js
Due: yarn eslint --fix

Bugfixes
  src/components/fragments/burger-menu/burger-menu/burger-menu.hbs
  src/components/fragments/burger-menu/burger-nav-item-dropdown/burger-nav-item-dropdown.hbs
  src/components/fragments/formfields/input-ohne-label/input--search.hbs
  src/components/fragments/header/header-full/header-full.hbs
  src/components/fragments/header/logo-section/logo-section.hbs
  src/components/fragments/header/menu-section/menu-section.hbs
  src/components/fragments/header/newsticker/newsticker.hbs
  src/css/modules/burger-menu.scss
  src/js/modules/burger-menu.js
  src/js/modules/embla-newsticker.js
Due: yarn eslint --fix, yarn stylelint --fix

Bug fixes bold
  src/components/fragments/burger-menu/burger-nav-item-dropdown/burger-nav-item-dropdown.hbs
  src/components/fragments/burger-menu/burger-nav-item-single/burger-nav-item-single.hbs
  src/components/fragments/header/logo-section/logo-section.hbs
Due: none

some optimization
  src/components/fragments/articles/article-teaser/article-teaser.hbs
  src/components/fragments/image/image--teaser-half-page-image.hbs
Due: none

init login box
  src/components/fragments/header/login-box/login-box.config.json
  src/components/fragments/header/login-box/login-box.hbs
Due: none

created password field setted up the general structure of the login box defined some texts and styles w.i.p.
  src/components/fragments/formfields/input-ohne-label/input--password.hbs
  src/components/fragments/formfields/input-ohne-label/input.config.json
  src/components/fragments/header/login-box/login-box.config.json
  src/components/fragments/header/login-box/login-box.hbs
  src/components/fragments/link/link--black.hbs
  src/components/fragments/link/link.hbs
Due: none

Resources hinzugefügt
  src/components/resources/links/links.hbs
Due: none

Burgermenu slidebar gemacht
  src/components/fragments/burger-menu/burger-menu-dropdown-indicator/dropdown-indicator.hbs
  src/components/fragments/burger-menu/burger-menu-footer/burger-menu-footer.config.json
  src/components/fragments/burger-menu/burger-menu/burger-menu.config.json
  src/components/fragments/burger-menu/burger-menu/burger-menu.hbs
  src/components/fragments/formfields/input-ohne-label/input--search.hbs
  src/components/fragments/header/logo-section/logo-section.hbs
  src/components/fragments/header/menu-section/menu-section.hbs
  src/components/fragments/header/newsticker/newsticker.hbs
  src/css/modules/burger-menu.scss
  src/js/modules/burger-menu.js
Due: yarn eslint --fix, yarn stylelint --fix

Burgermenu slidebar gemacht
  src/js/modules/burger-menu.js
Due: yarn eslint --fix

created signout button and "just button" state for the login box
  src/components/fragments/Buttons/signout/signout-button.config.json
  src/components/fragments/Buttons/signout/signout-button.hbs
  src/components/fragments/header/login-box/login-box--just-buttons.hbs
  src/components/fragments/header/login-box/login-box.hbs
Due: none

created login box variants
  src/components/fragments/Buttons/signout/signout-button.config.json
  src/components/fragments/Buttons/signout/signout-button.hbs
  src/components/fragments/header/login-box/login-box--no-name.config.json
  src/components/fragments/header/login-box/login-box--no-name.hbs
  src/components/fragments/header/login-box/login-box--with-name.hbs
Due: none

setted the different variant names for the submit button up
  src/components/fragments/Buttons/submit/submit-button.config.json
  src/components/fragments/Buttons/submit/submit-button.hbs
  src/components/fragments/header/login-box/login-box--no-name.hbs
  src/components/fragments/header/login-box/login-box.config.json
  src/components/fragments/header/login-box/login-box.hbs
Due: none

added nw-red-600 improved views for the login box
  src/components/fragments/header/login-box/login-box--no-name.hbs
  src/components/fragments/header/login-box/login-box--with-name.hbs
  src/components/fragments/header/login-box/login-box.config.json
  src/components/styleguide/colors/colors.hbs
  tailwind.config.js
Due: none

bugfixes
  src/components/fragments/Buttons/signout/signout-button.hbs
  src/components/fragments/Buttons/submit/submit-button.hbs
  src/components/fragments/header/login-box/login-box--with-name.hbs
  src/components/fragments/header/login-box/login-box.config.json
  src/components/fragments/header/login-box/login-box.hbs
Due: none

added hover effects + input checked state
  src/components/fragments/header/login-box/login-box--with-name.hbs
  src/components/fragments/header/login-box/login-box.hbs
  src/css/app.scss
Due: yarn stylelint --fix

finished with name loginbox
  src/components/fragments/header/login-box/login-box--with-name.hbs
Due: none

bugfix
  src/components/fragments/header/login-box/login-box--with-name.hbs
Due: none

[test] optimizing
  src/components/fragments/banner/banner.hbs
Due: none

(Test) Article Teaser optimization
  src/components/fragments/articles/article-lead-story/article-lead-story.config.json
  src/components/fragments/articles/article-teaser/article-teaser.config.json
  src/components/fragments/articles/article-teaser/article-teaser.hbs
  src/components/fragments/banner/banner.hbs
  src/components/fragments/headings/headline/headline--teaser-half-page.hbs
  src/components/fragments/image/image--teaser-half-page-image.hbs
Due: none

Article-teaser optimization
  src/components/fragments/banner/banner.hbs
  src/components/fragments/headings/headline/headline--teaser-half-page.hbs
  src/components/fragments/image/image--teaser-half-page-image.hbs
Due: none

(Test) article teaser optimization
  src/components/fragments/articles/article-teaser/article-teaser.config.json
  src/components/fragments/banner/banner.hbs
  src/components/fragments/headings/headline/headline--teaser-half-page.hbs
Due: none

(Test) article teaser optimization
  src/components/fragments/articles/article-teaser/article-teaser.hbs
  src/components/fragments/banner/banner.hbs
  src/components/fragments/headings/headline/headline--teaser-half-page.hbs
  src/components/fragments/image/image--teaser-half-page-image.hbs
Due: none

(Test) article teaser optimization
  src/components/fragments/banner/banner.hbs
  src/components/fragments/headings/headline/headline--teaser-half-page.hbs
  src/components/fragments/image/image--teaser-half-page-image.hbs
Due: none

bugfixes login
  src/components/fragments/header/login-box/login-box--no-name.hbs
  src/components/fragments/header/login-box/login-box--with-name.hbs
  src/components/fragments/header/login-box/login-box.hbs
Due: none

article teaser optimization
  src/components/fragments/articles/article-teaser/article-teaser.hbs
  src/components/fragments/banner/banner.hbs
  src/components/fragments/headings/headline/headline--teaser-half-page.hbs
  src/components/fragments/image/image--teaser-half-page-image.hbs
Due: none

Aktueller Stand Header
  src/components/fragments/header/header-full/header-full--lokal.hbs
  src/components/fragments/header/header-full/header-full.hbs
  src/components/fragments/header/logo-section/logo-section--lokal.hbs
  src/components/fragments/header/logo-section/logo-section.config.json
  src/components/fragments/header/menu-nav-item/menu-nav-item--active.hbs
  src/components/fragments/header/menu-nav-item/menu-nav-item.config.json
  src/components/fragments/header/menu-nav-item/menu-nav-item.hbs
  src/components/fragments/header/menu-nav-scroll-buttons/menu-nav-scroll-buttons.hbs
  src/components/fragments/header/menu-section/menu-section--lokal.hbs
  src/components/fragments/header/menu-section/menu-section--sticky.hbs
  src/components/fragments/header/menu-section/menu-section.config.json
  src/components/fragments/header/newsticker/newsticker.hbs
  src/components/fragments/header/service-links/service-links.hbs
  src/css/app.scss
  src/css/modules/_embla-navigation.scss
  src/css/modules/_embla-newsticker.scss
  src/css/modules/burger-menu.scss
  src/css/modules/header.scss
  src/js/app.ts
  src/js/modules/burger-menu.js
  src/js/modules/embla-navigation.js
  src/js/modules/prevAndNextButtons.js
  src/js/modules/sticky-menu.js
  tailwind.config.js
Due: yarn eslint --fix, yarn stylelint --fix

init
  src/components/fragments/slider/slider.config.json
  src/components/fragments/slider/slider.hbs
  src/css/modules/_embla-slider.scss
Due: yarn stylelint --fix

Hintergrundfarbe geändert
  src/components/_preview.hbs
Due: none

Header-Anpassungen für verschiedene Breakpoints
  src/components/fragments/header/header-full/header-full--lokal.hbs
  src/components/fragments/header/logo-section/logo-section.hbs
  src/components/fragments/header/menu-nav-scroll-buttons/menu-nav-scroll-buttons.config.json
  src/components/fragments/header/menu-nav-scroll-buttons/menu-nav-scroll-buttons.hbs
  src/components/fragments/header/menu-section/menu-section--lokal.hbs
  src/components/fragments/header/menu-section/menu-section--sticky.hbs
  src/components/fragments/header/menu-section/menu-section.hbs
  src/components/pages/article-detail-page/article-detail-page--lokal-header.hbs
  src/css/modules/_embla-navigation.scss
  src/css/modules/header.scss
  src/js/modules/embla-navigation.js
  src/js/modules/embla-newsticker.js
  src/js/modules/prevAndNextButtons.js
  src/js/modules/sticky-menu.js
Due: yarn eslint --fix, yarn stylelint --fix

Slider optimization
  src/components/fragments/slider/slider.hbs
  src/css/modules/_embla-slider.scss
  src/js/modules/dotButtons.js
  src/js/modules/embla-slider.ts
Due: yarn eslint --fix, yarn stylelint --fix

Slider optimization
  src/components/fragments/slider/slider.hbs
  src/css/modules/_embla-slider.scss
Due: yarn stylelint --fix

slider optimization
  src/components/fragments/slider/slider.hbs
  src/css/modules/_embla-slider.scss
Due: yarn stylelint --fix

Slider optimization
  src/css/modules/_embla-slider.scss
Due: yarn stylelint --fix

Logo-Größen angepasst.
  src/components/fragments/header/logo-section/logo-section--lokal.hbs
  src/components/fragments/header/logo-section/logo-section.hbs
Due: none

Path conditions:
  yarn eslint --fix: any of: src/js/**/*.{ts,js}
  yarn stylelint --fix: any of: *.{scss,css}
