Repository dalkdev/owl-fractal-github-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint --fix

Einige Änderungen in Blackfriday-Angebot, Countdown und lesepaten-Seite
  src/components/modules/countdown/countdown.hbs
  src/components/pages/landing-pages/blackfriday-angebot/blackfriday-angebot.hbs
  src/components/pages/lesepaten/inhaltseite-ohne-header-und-footer/inhaltseite-ohne-header-und-footer.config.json
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
Due: none

Eine Anweisung ändern
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
Due: none

Blackfriday-Angebot ändern
  src/components/modules/countdown/countdown.hbs
  src/components/pages/landing-pages/blackfriday-angebot/blackfriday-angebot.hbs
Due: none

sicial-icon with tooltip bauen
  src/components/modules/social-icons/social-icons--with-tooltip.hbs
  src/components/modules/social-icons/social-icons.hbs
  src/css/modules/bookmark.scss
Due: yarn stylelint --fix

nw-plus-icon Größen hinzufügen
  src/components/modules/social-icons/social-icons--with-tooltip.hbs
  src/css/modules/recobox.scss
Due: yarn stylelint --fix

Fixed display error when no elements exist.
  src/js/modules/glightbox.js
  src/js/modules/lesepaten.js
Due: yarn eslint --fix

lokal-header-hk bauen
  src/components/fragments/lokal-header-hk/lokal-header-hk.config.json
  src/components/fragments/lokal-header-hk/lokal-header-hk.hbs
Due: none

Removed test of existence of galleries, as it's not needed.
  src/js/modules/glightbox.js
Due: yarn eslint --fix

comment-icon hinzufugen
  src/components/fragments/lokal-header-hk/lokal-header-hk.hbs
  src/components/modules/social-icons/social-icons.hbs
Due: none

das Ikon größer machen und X Ikon hinzufügen
  src/components/modules/social-icons/social-icons--with-tooltip.hbs
  src/components/modules/social-icons/social-icons.hbs
  src/css/modules/bookmark.scss
Due: yarn stylelint --fix

Test
  src/components/modules/simple-loream/simple-loream.hbs
Due: none

In social-icon die Ikone ändern
  src/components/modules/social-icons/social-icons--with-tooltip.hbs
  src/components/modules/social-icons/social-icons.hbs
Due: none

Several css fixes
  src/css/modules/form-elements.scss
  src/css/modules/misc.scss
Due: yarn stylelint --fix

kleine Änderungen in social-icon mit tooltip
  src/components/modules/social-icons/social-icons--with-tooltip.hbs
Due: none

diskutieren Sie mit-Button bauen, und social-icons-Größe ändern
  src/components/modules/diskutieren-button/diskutieren-button.config.json
  src/components/modules/diskutieren-button/diskutieren-button.hbs
  src/components/modules/social-icons/social-icons--with-tooltip.hbs
  src/css/app.scss
  src/css/modules/bookmark.scss
  src/css/modules/engagently.scss
Due: yarn stylelint --fix

Die Ikon-Farbe ändern
  src/components/modules/social-icons/social-icons--with-tooltip.hbs
  src/css/modules/bookmark.scss
Due: yarn stylelint --fix

kommentare-Ikon und Ikone- Größe ändern ..
  src/components/fragments/recobox-item/recobox-item.hbs
  src/components/modules/diskutieren-button/diskutieren-button.hbs
  src/components/modules/social-icons/social-icons--with-tooltip.hbs
  src/components/modules/social-icons/social-icons.hbs
  src/css/modules/bookmark.scss
Due: yarn stylelint --fix

Winter-Angebot bauen
  src/components/pages/landing-pages/winter-angebot/winter-angebot.config.json
  src/components/pages/landing-pages/winter-angebot/winter-angebot.hbs
  src/css/app.scss
  src/css/modules/winter-angebot.scss
Due: yarn stylelint --fix

recobox ändern
  src/components/fragments/recobox-item/recobox-item--rebrush-mit-nw-plus-icon.hbs
  src/components/modules/articles/recobox/recobox--rebrush-with-ad.hbs
  src/components/modules/diskutieren-button/diskutieren-button.hbs
  src/components/pages/landing-pages/winter-angebot/winter-angebot.hbs
Due: none

Copyright section im Drückansicht hinzufügen
  src/components/modules/articles/recobox/recobox.config.json
  src/components/modules/druck-ansicht/druck-ansicht..hbs
  src/components/modules/druck-ansicht/druck-ansicht.hbs
Due: none

Disabled privacy box in app.js. The jQuery code from CMS works better.
  src/js/app.ts
  src/js/modules/privacy-box.js
Due: yarn eslint --fix

Removed unneeded code.
  src/js/modules/glightbox.js
Due: yarn eslint --fix

Ad fixes for slider
  src/components/modules/slider/slider.hbs
  src/js/modules/embla-slider.ts
Due: yarn eslint --fix

Dummy file for classes that are needed in cms-twig, but are not in any template
  src/components/fragments/dummy/dummy.hbs
Due: none

diskutieren Seite bauen und druck-Ansicht Seite bearbeiten
  src/components/modules/diskutieren-button/diskutieren-button.hbs
  src/components/modules/druck-ansicht/druck-ansicht.hbs
  src/css/modules/misc.scss
Due: yarn stylelint --fix

article-neben-paywall bauen
  src/components/modules/articles/article-neben-paywall/article-neben-paywall.config.json
  src/components/modules/articles/article-neben-paywall/article-neben-paywall.hbs
  src/components/modules/druck-ansicht/druck-ansicht.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]registrierung/[anzeigenservice]registrierung--copy3.hbs
Due: none

CSS-Anweisungen im Paywall hinzufügen
  src/components/modules/articles/article-neben-paywall/article-neben-paywall.hbs
Due: none

Several small bug fixes
  src/components/fragments/dummy/dummy.hbs
  src/css/modules/article.scss
  src/css/modules/header.scss
  src/css/modules/misc.scss
Due: yarn stylelint --fix

Several small bug fixes
  src/css/modules/article.scss
Due: yarn stylelint --fix

Änderungen im Registrierungsseite
  src/components/pages/anzeigenservice/[anzeigenservice]registrierung/[anzeigenservice]registrierung--copy3.hbs
Due: none

kleine Änderungen im Registrierungsseite und LesepatenSeite
  src/components/pages/anzeigenservice/[anzeigenservice]registrierung/[anzeigenservice]registrierung--copy3.hbs
  src/components/pages/lesepaten/startseite/startseite.hbs
Due: none

einige Anweisungen in Lesepatenseite löschen
  src/components/modules/lesepaten-accordion/lesepaten-accordion.hbs
Due: none

Cleaned up (probably) unnecessary classes.
  src/css/modules/article.scss
Due: yarn stylelint --fix

Removed unneeded color
  src/css/modules/article.scss
Due: yarn stylelint --fix

Fixed background scrolling
  src/js/modules/modal-box.js
Due: yarn eslint --fix

Removed unneeeded z-index
  src/css/modules/header.scss
Due: yarn stylelint --fix

snow div löschen
  src/css/modules/winter-angebot.scss
Due: yarn stylelint --fix

Removed unneeded z-index
  src/components/fragments/dummy/dummy.hbs
Due: none

valentinsangebot bauen
  src/components/fragments/dummy/dummy.hbs
  src/components/pages/landing-pages/valentins-angebot/valentins-angebot.config.json
  src/components/pages/landing-pages/valentins-angebot/valentins-angebot.hbs
  src/components/pages/landing-pages/winter-angebot/winter-angebot.hbs
Due: none

article-neben-paywall-Design ändern und auch einige Anweisungen im Valentins-Angebot ändern
  src/components/modules/articles/article-neben-paywall/article-neben-paywall.hbs
  src/components/pages/landing-pages/valentins-angebot/valentins-angebot.hbs
Due: none

Path conditions:
  yarn eslint --fix: any of: src/js/**/*.{ts,js}
  yarn stylelint --fix: any of: *.{scss,css}
