Repository dalkdev/owl-fractal-github-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint --fix

Newsletter-Items verlinkt.
  src/components/fragments/header/newsticker/newsticker.hbs
Due: none

Aktueller Stand des Headers mit Slide-In-Menü
  src/components/_preview_fragments/_head_imports.hbs
  src/components/fragments/header/logo-section/logo-section--lokal.hbs
  src/components/fragments/header/menu-nav/menu-nav.hbs
  src/components/fragments/header/menu-section/menu-section--lokal.hbs
  src/components/fragments/header/menu-section/menu-section--sticky.hbs
  src/components/fragments/header/menu-section/menu-section.hbs
  src/css/modules/_embla-navigation.scss
  src/js/modules/embla-navigation.js
Due: yarn eslint --fix, yarn stylelint --fix

Slider optimization
  src/components/fragments/slider/slider.hbs
Due: none

File init
  src/components/fragments/nw-plus-footer/nw-plus-footer.config.json
  src/components/fragments/nw-plus-footer/nw-plus-footer.hbs
Due: none

Bug- und Stylefixes Header-Menü
  src/components/fragments/header/menu-nav-item/menu-nav-item.hbs
  src/components/fragments/header/menu-nav/menu-nav.hbs
  src/components/fragments/header/menu-section/menu-section--lokal.hbs
  src/components/fragments/header/menu-section/menu-section--sticky.hbs
  src/components/fragments/header/menu-section/menu-section.config.json
  src/components/fragments/header/menu-section/menu-section.hbs
  src/components/fragments/header/newsticker/newsticker.hbs
  src/js/modules/embla-navigation.js
  src/js/modules/sticky-menu.js
Due: yarn eslint --fix

enable jit for arbitrary-values
  tailwind.config.js
Due: none

Springen im Burgermenü entfernt
  src/components/fragments/burger-menu/burger-menu/burger-menu.hbs
  src/components/fragments/header/menu-nav-item/menu-nav-item--active.hbs
  src/components/fragments/header/menu-nav-item/menu-nav-item.hbs
  src/components/fragments/header/menu-section/menu-section--sticky.hbs
  src/components/resources/links/links.hbs
  src/css/modules/burger-menu.scss
Due: yarn stylelint --fix

JIT-Mode hinzugefügt
  tailwind.config.js
Due: none

cta-newsletter bulding
  images/icons-outline-icon-bell.svg
  images/icons-outline-icon-massage.svg
  src/components/fragments/cta-newsletter/cta-newsletter.config.json
  src/components/fragments/cta-newsletter/cta-newsletter.hbs
Due: none

cta-newsletter optimization
  src/components/fragments/cta-newsletter/cta-newsletter.hbs
Due: none

Cta-Newsletter optimization
  src/components/fragments/cta-newsletter/cta-newsletter.hbs
Due: none

Slider optimization
  src/components/fragments/slider/slider.config.json
  src/components/fragments/slider/slider.hbs
Due: none

Cta-Newsletteroptimization
  src/components/fragments/cta-newsletter/cta-newsletter.hbs
Due: none

Leseempfehlung building
  src/components/fragments/leseempfehlung/leseempfehlung.config.json
  src/components/fragments/leseempfehlung/leseempfehlung.hbs
Due: none

small init changes
  src/components/fragments/nw-plus-footer/nw-plus-footer.config.json
  src/components/fragments/nw-plus-footer/nw-plus-footer.hbs
Due: none

Leseempfehlung optimization
  src/components/fragments/leseempfehlung/leseempfehlung.config.json
  src/components/fragments/leseempfehlung/leseempfehlung.hbs
  src/css/modules/_embla-slider.scss
Due: yarn stylelint --fix

first version of footer - design not ready- text ready
  src/components/fragments/nw-plus-footer/nw-plus-footer.hbs
  src/components/fragments/nw-plus/nw-plus-cta/nw-plus-cta.config.json
  src/components/fragments/nw-plus/nw-plus-cta/nw-plus-cta.hbs
  src/components/fragments/nw-plus/nw-plus-footer/nw-plus-footer.config.json
  src/components/fragments/nw-plus/nw-plus-footer/nw-plus-footer.hbs
  src/components/fragments/nw-plus/nw-plus-icon/nw-plus-icon.config.json
  src/components/fragments/nw-plus/nw-plus-icon/nw-plus-icon.hbs
Due: none

Bugfixes
  src/components/fragments/header/logo-section/logo-section.hbs
  src/components/fragments/header/menu-nav-item/menu-nav-item--active.hbs
  src/components/fragments/header/menu-nav-item/menu-nav-item.hbs
  src/components/fragments/header/menu-nav/menu-nav.hbs
  src/components/fragments/header/menu-section/menu-section--lokal.hbs
  src/components/fragments/header/menu-section/menu-section--sticky.hbs
  src/components/fragments/header/menu-section/menu-section.config.json
  src/components/fragments/header/menu-section/menu-section.hbs
  src/css/app.scss
  src/css/modules/_embla-navigation.scss
  src/css/modules/burger-menu.scss
  src/js/modules/burger-menu.js
  src/js/modules/embla-navigation.js
  src/js/modules/embla-newsticker.js
  src/js/modules/helpers.js
  src/js/modules/sticky-menu.js
Due: yarn eslint --fix, yarn stylelint --fix

Caching über Meta-Tags deaktiviert.
  src/components/_preview_fragments/_head_meta.hbs
Due: none

Leseempfehlung optimization
  src/components/fragments/leseempfehlung/leseempfehlung.config.json
  src/components/fragments/leseempfehlung/leseempfehlung.hbs
Due: none

theme-box building
  src/components/fragments/articles/article-themenbox/article-themenbox.config.json
  src/components/fragments/articles/article-themenbox/article-themenbox.hbs
Due: none

Theme-box building
  src/components/fragments/articles/article-themenbox/article-themenbox.config.json
  src/components/fragments/articles/article-themenbox/article-themenbox.hbs
Due: none

Theme-box optimization
  src/components/fragments/articles/article-themenbox/article-themenbox.config.json
  src/components/fragments/articles/article-themenbox/article-themenbox.hbs
Due: none

Themen-Box optimization
  src/components/fragments/articles/article-themenbox/article-themenbox.hbs
Due: none

Added scrollTo-Funciton
  src/js/modules/embla-navigation.js
Due: yarn eslint --fix

Added scrollTo-Funciton
  src/js/app.ts
Due: yarn eslint --fix

Leseempfehlung optimization
  src/css/modules/_embla-slider.scss
Due: yarn stylelint --fix

Slider optimization
  src/css/modules/_embla-slider.scss
Due: yarn stylelint --fix

article-teaser optimization
  src/components/fragments/articles/article-teaser/article-teaser.config.json
  src/components/fragments/headings/headline/headline--teaser-half-page.hbs
Due: none

Anpassungen am Header für Scroll-Funktionalität
  src/components/fragments/header/menu-nav-item/menu-nav-item--active.hbs
  src/components/fragments/header/menu-nav-item/menu-nav-item.hbs
  src/components/fragments/header/menu-section/menu-section.config.json
  src/js/app.ts
  src/js/modules/embla-navigation.js
  yarn.lock
Due: yarn eslint --fix

Leseempfehlung optimization
  src/components/fragments/leseempfehlung/leseempfehlung.hbs
  src/css/modules/_embla-slider.scss
Due: yarn stylelint --fix

Loginbox in Header eingebunden
  src/components/fragments/formfields/input-ohne-label/input--email.hbs
  src/components/fragments/formfields/input-ohne-label/input--password.hbs
  src/components/fragments/header/login-box/login-box.hbs
  src/components/fragments/header/logo-section/logo-section.hbs
  src/css/modules/header.scss
  src/js/app.ts
  src/js/modules/login-box.js
Due: yarn eslint --fix, yarn stylelint --fix

Breite der Loginbox angepasst.
  src/components/fragments/header/login-box/login-box--no-name.hbs
  src/components/fragments/header/login-box/login-box--with-name.hbs
  src/components/fragments/header/logo-section/logo-section.hbs
  src/css/modules/header.scss
Due: yarn stylelint --fix

Loginformular als Default gesetzt.
  src/components/fragments/header/logo-section/logo-section.hbs
Due: none

-added fixed width for nw footer button -created alternative footer version with subscription cancelling info text -changes on mobile and desktop design
  src/components/fragments/nw-plus/nw-plus-cta/nw-plus-cta.hbs
  src/components/fragments/nw-plus/nw-plus-footer/nw-plus-footer--with-info.hbs
  tailwind.config.js
Due: none

added node config file for working node install on plesk
  .npmrc
Due: none

Path conditions:
  yarn eslint --fix: any of: src/js/**/*.{ts,js}
  yarn stylelint --fix: any of: *.{scss,css}
