Repository dalkdev/owl-fractal-github-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint --fix

privacy-Box Größe verbessert
  package - Kopie.json
  src/components/modules/articles/privacy/privacy.hbs
  yarn.lock
Due: none

neues Akkodreon und einige Änderungen
  src/components/modules/lesepaten-accordion/lesepaten-accordion.config.json
  src/components/modules/lesepaten-accordion/lesepaten-accordion.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]registrierung/[anzeigenservice]registrierung--copy3.hbs
  src/components/pages/lesepaten/lesepaten--eubersicht.hbs
  src/components/pages/lesepaten/lesepaten--inhalt.hbs
  src/css/app.scss
  src/css/modules/lesepaten-accordion.scss
  src/js/app.ts
  src/js/modules/lesepaten-accordion.js
  src/js/modules/lesepaten.js
Due: yarn eslint --fix, yarn stylelint --fix

gray-background
  src/components/modules/lesepaten-accordion/lesepaten-accordion.hbs
Due: none

CSS changes on gallery Fixed noswipe for mobile
  src/components/modules/slider/slider.hbs
  src/css/modules/glightbox.scss
  src/js/modules/embla-slider.ts
  src/js/modules/glightbox.js
Due: yarn eslint --fix, yarn stylelint --fix

Lesepaten-Seite Änderungen.. Register Änderungen
  src/components/modules/lesepaten-accordion/lesepaten-accordion.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]registrierung/[anzeigenservice]registrierung--bestaetigt-copy2.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]registrierung/[anzeigenservice]registrierung--copy3.hbs
  src/components/pages/lesepaten/lesepaten--eubersicht.hbs
  src/components/pages/lesepaten/lesepaten--inhalt.hbs
  src/components/pages/lesepaten/lesepaten--unsere-lesepaten.hbs
  src/css/app.scss
  src/css/modules/accordion.scss
  src/css/modules/lesepaten-accordion.scss
  src/js/app.ts
  src/js/modules/lesepaten-accordion.js
Due: yarn eslint --fix, yarn stylelint --fix

Kleine Änderungen in Registrierung-Seite
  src/components/pages/anzeigenservice/[anzeigenservice]registrierung/[anzeigenservice]registrierung--bestaetigen-copy2.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]registrierung/[anzeigenservice]registrierung--bestaetigt-copy2.hbs
Due: none

UNSERE LESEPATEN Modul
  src/components/pages/lesepaten/lesepaten--unsere-lesepaten.hbs
  src/components/pages/lesepaten/lesepaten.config.json
Due: none

Fixes for Lightbox and bookmark
  src/components/fragments/image/image--rounded.hbs
  src/components/modules/social-icons/social-icons.hbs
  src/components/pages/article-detail-page/article-detail-page--lokal-header.hbs
  src/components/pages/article-detail-page/article-detail-page.config.json
  src/components/pages/article-detail-page/article-detail-page.hbs
  src/components/pages/article-detail-page/pages.config.yml
  src/css/app.scss
  src/css/modules/article.scss
  src/css/modules/bookmark.scss
  src/css/modules/glightbox.scss
  src/js/modules/glightbox.js
Due: yarn eslint --fix, yarn stylelint --fix

die Slider sortieren , lesepate-bugfix und profil-der- lesepaten erstellen
  src/components/modules/lesepaten-accordion/lesepaten-accordion.hbs
  src/components/pages/lesepaten/lesepaten--eubersicht.hbs
  src/components/pages/lesepaten/lesepaten--inhalt.hbs
  src/components/pages/lesepaten/lesepaten--profil-der-lesepaten.hbs
  src/components/pages/lesepaten/lesepaten--unsere-lesepaten.hbs
  src/css/app.scss
  src/css/modules/_embla-slider.scss
  src/css/modules/accordion.scss
  src/css/modules/article-themenbox-slider.scss
  src/css/modules/leseempfehlung-slider.scss
  src/css/modules/lesepaten-accordion.scss
  src/css/modules/lesepaten-slider.scss
  src/css/modules/sport-news-slider.scss
  src/static/images/arrow-small-left.svg
Due: yarn stylelint --fix

profil-der-lesepaten bauen
  src/components/pages/lesepaten/lesepaten--profil-der-lesepaten.hbs
  src/css/app.scss
  src/css/modules/profil-der-lesepaten.scss
  src/static/images/lesepaten/profil-bild.png
  src/static/images/lesepaten/profil.png
Due: yarn stylelint --fix

Lesepatenseite sortieren, shulenelement und detailseite-Varianten bauen
  src/components/modules/lesepaten-accordion/lesepaten-accordion.hbs
  src/components/pages/lesepaten/detailseite/detailseite--detailseite-mit-bild-ohne-beschreibungstext.hbs
  src/components/pages/lesepaten/detailseite/detailseite--detailseite-mit-firmenlogo.hbs
  src/components/pages/lesepaten/detailseite/detailseite--detailseite-ohne-bilder.hbs
  src/components/pages/lesepaten/detailseite/detailseite.config.json
  src/components/pages/lesepaten/detailseite/detailseite.hbs
  src/components/pages/lesepaten/inhaltseite-ohne-header-und-footer/inhaltseite-ohne-header-und-footer.hbs
  src/components/pages/lesepaten/inhaltseite-ohne-header-und-footer/inhaltseite-ohne-hedear-und-footer.config.json
  src/components/pages/lesepaten/lesepate-register/lesepate-register.config.json
  src/components/pages/lesepaten/lesepate-register/lesepate-register.hbs
  src/components/pages/lesepaten/lesepaten--eubersicht.hbs
  src/components/pages/lesepaten/schulenelement/schulenelement.config.json
  src/components/pages/lesepaten/schulenelement/schulenelement.hbs
  src/components/pages/lesepaten/startseite/startseite.config.json
  src/components/pages/lesepaten/startseite/startseite.hbs
  src/components/pages/lesepaten/uebersichtselement/uebersichtselement.config.json
  src/components/pages/lesepaten/uebersichtselement/uebersichtselement.hbs
  src/components/pages/lesepaten/unsere-lesepaten/unsere-lesepaten.config.json
  src/components/pages/lesepaten/unsere-lesepaten/unsere-lesepaten.hbs
Due: none

Improved lightbox generation to add ads.
  src/components/modules/slider/slider.config.json
  src/components/modules/slider/slider.hbs
  src/css/app.scss
  src/js/modules/glightbox.js
Due: yarn eslint --fix, yarn stylelint --fix

Upload deletes the components folder first to prevent file conflicts
  ftp_upload.scp
Due: none

lesepaten-werden bauen
  ftp_upload.scp
  src/components/pages/anzeigenservice/[anzeigenservice]registrierung/[anzeigenservice]registrierung--copy3.hbs
  src/components/pages/lesepaten/inhaltseite-ohne-header-und-footer/inhaltseite-ohne-header-und-footer.hbs
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.config.json
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
  src/components/pages/lesepaten/lesepate-register/lesepate-register.hbs
  src/components/pages/lesepaten/schulenelement/schulenelement.hbs
  src/components/pages/lesepaten/uebersichtselement/uebersichtselement.hbs
  src/components/pages/lesepaten/unsere-lesepaten/unsere-lesepaten.hbs
  src/css/app.scss
  src/css/modules/lesepaten-fix.scss
Due: yarn stylelint --fix

fix: Copy right on images
  src/components/fragments/image/image--rounded.hbs
Due: none

recobox-copy-3 bauen
  src/components/modules/articles/recobox/recobox--rebrush-copy-3.hbs
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
  src/css/modules/recobox.scss
  src/js/modules/lesepaten.js
Due: yarn eslint --fix, yarn stylelint --fix

recobox-Variante bauen
  src/components/modules/articles/recobox/recobox--rebrush-copy-3.hbs
  src/components/modules/articles/recobox/recobox.config.json
Due: none

recobox sortieren
  src/components/fragments/recobox-item/recobox-item.hbs
  src/components/modules/articles/recobox/recobox--rebrush-copy-3.hbs
  src/css/modules/recobox.scss
  src/static/images/nw-plus-icon-minfied.svg
Due: yarn stylelint --fix

Eine neue Variante wie im Design im Test-System erstellen : ( recobox--rebrush-copy-4)
  src/components/fragments/recobox-item/recobox-item--rebrush.hbs
  src/components/modules/articles/recobox/recobox--rebrush-copy-3.hbs
  src/components/modules/articles/recobox/recobox--rebrush-copy-4.hbs
  src/static/images/NWPLUS-ICON-MINIFIED.svg
  src/static/images/nw-plus-icon-minfied.svg
Due: none

recobox in der Rebrush-article-Seite erstellen
  src/components/modules/articles/recobox/recobox--rebrush-copy-3.hbs
  src/components/modules/articles/recobox/recobox--rebrush-copy-4.hbs
  src/components/modules/articles/recobox/recobox.config.json
  src/components/pages/rebrush-article/rebrush-article.config.json
  src/components/pages/rebrush-article/rebrush-article.hbs
Due: none

fix: glightbox
  src/js/modules/glightbox.js
Due: yarn eslint --fix

Recobox copy-2 und 3 löschen und den Namen von copy-4 ändern
  src/components/modules/articles/recobox/recobox--rebrush-copy-2.hbs
  src/components/modules/articles/recobox/recobox--rebrush-copy-3.hbs
  src/components/modules/articles/recobox/recobox--rebrush-with-ad.hbs
  src/components/pages/rebrush-article/rebrush-article.hbs
Due: none

neues nw-plus-Ikon hinzufügen
  src/components/fragments/icons/nw-plus-icon/nw-plus-icon.hbs
  src/components/fragments/recobox-item/recobox-item.hbs
  src/static/images/NWPLUS-ICON-MINIFIED.svg
  src/static/images/nw-plus_icon.svg
Due: none

nw-plus-Svg als Background-image im Recobox
  src/components/fragments/recobox-item/recobox-item--rebrush.hbs
  src/css/modules/recobox.scss
Due: yarn stylelint --fix

Added ads to the slider
  src/components/modules/slider/slider.hbs
  src/css/general/_main.scss
Due: yarn stylelint --fix

Lesepaten-Feedback ( Einige Änderungen in lesepaten-werden und Inhaaltseite
  src/components/pages/lesepaten/inhaltseite-ohne-header-und-footer/inhaltseite-ohne-header-und-footer.hbs
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
Due: none

Test
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
Due: none

Recolored background of info boxes
  src/components/modules/info-box/info-box.hbs
  src/css/modules/article.scss
Due: yarn stylelint --fix

Removed ads between lightbox elements
  src/js/modules/glightbox.js
Due: yarn eslint --fix

Several fixes.
  src/components/modules/ breadcrumb/breadcrumb.hbs
  src/css/modules/article.scss
  src/css/modules/breadcrumb.scss
  src/js/app.ts
  src/js/modules/privacy-box.js
Due: yarn eslint --fix, yarn stylelint --fix

Änderung im Pagination
  src/components/modules/pagination/pagination.config.json
  src/components/modules/pagination/pagination.hbs
  src/components/pages/lesepaten/schulenelement/schulenelement.hbs
  src/components/pages/lesepaten/unsere-lesepaten/unsere-lesepaten.hbs
Due: none

fix: description uder gallery
  src/components/modules/slider/slider.hbs
  src/css/modules/glightbox.scss
  src/js/modules/glightbox.js
Due: yarn eslint --fix, yarn stylelint --fix

fix: design issue
  src/css/modules/glightbox.scss
  src/js/modules/glightbox.js
Due: yarn eslint --fix, yarn stylelint --fix

Logo ist raus von der Lesepatenseite
  src/components/modules/lesepaten-accordion/lesepaten-accordion.hbs
  src/components/pages/lesepaten/inhaltseite-ohne-header-und-footer/inhaltseite-ohne-header-und-footer.hbs
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
  src/static/images/lesepaten/teaser-desktop.jpg
  src/static/images/lesepaten/teaser-mobile.jpg
Due: none

pflichtider Felder hinzufügen
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
Due: none

Einige Änderungen in der lesepaten-werden-Seite
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
Due: none

lesepaten-werden ( kleine Änderung)
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
Due: none

Ein Wort korrigieren
  src/components/pages/lesepaten/lesepate-anmelden/lesepate-anmelden.hbs
Due: none

fix: glightbox
  src/css/modules/glightbox.scss
  src/js/modules/glightbox.js
Due: yarn eslint --fix, yarn stylelint --fix

Blackfriday-Angebot und countdown bauen
  src/components/modules/countdown/countdown.config.json
  src/components/modules/countdown/countdown.hbs
  src/components/modules/sport-news/arminia-fanshop-slider/arminia-fanshop-slider.hbs
  src/components/pages/landing-pages/blackfriday-angebot/blackfriday-angebot.config.json
  src/components/pages/landing-pages/blackfriday-angebot/blackfriday-angebot.hbs
  src/components/pages/landing-pages/digitale-angebote/full-page/full-page.hbs
Due: none

Path conditions:
  yarn eslint --fix: any of: src/js/**/*.{ts,js}
  yarn stylelint --fix: any of: *.{scss,css}
