Repository dalkdev/owl-fractal-github-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn stylelint --fix

.lintstagedrc.json:

{
  "src/js/**/*.{ts,js}": "yarn eslint --fix",
  "*.{scss,css}": "yarn stylelint --fix"
}

nw-mb-10 hnzufügen
  src/components/atoms-and-molecules/buttons/buttons--all-button.hbs
Due: none

Neue Änderungen in der Autorendetailseite
  src/components/modules/autoren-profile/autoren-profile.hbs
  src/components/pages/autorenseiten/autorendetailseite/autorendetailseite.hbs
Due: none

Änderungen in autorenseite und Buttons-seite
  src/components/atoms-and-molecules/buttons/buttons--all-button.hbs
  src/components/atoms-and-molecules/buttons/buttons--rounded-with-icons.hbs
  src/components/atoms-and-molecules/buttons/buttons--rounded.hbs
  src/components/atoms-and-molecules/buttons/buttons--with-icons.hbs
  src/components/atoms-and-molecules/buttons/buttons.hbs
  src/components/modules/autoren-liste/autoren-liste.hbs
  src/components/modules/autoren-profile/autoren-profile.hbs
  src/components/modules/social-icons/social-icons--autoren.hbs
  src/components/modules/social-icons/social-icons--with-tooltip.hbs
  src/components/modules/social-icons/social-icons.hbs
  src/components/pages/autorenseiten/autorenuebersichtsseite/autorenuebersichtsseite.hbs
Due: none

fix: Mobile view touch
  src/js/modules/glightbox.js
Due: yarn eslint --fix

newsletter-boxen bauen
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.config.json
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.hbs
  src/css/modules/autoren-seite.scss
  src/static/images/newsletterbilder/img.png
Due: yarn stylelint --fix

newsletter-boxen-Slider
  src/components/atoms-and-molecules/buttons/buttons--spinner.hbs
  src/components/modules/slider/slider--newsletter-boxen.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.hbs
  src/css/app.scss
  src/css/modules/_embla-slider.scss
  src/css/modules/newsletter-boxen-slider.scss
Due: yarn stylelint --fix

newsletter-slider bauen
  src/components/modules/slider/slider--newsletter-boxen.hbs
  src/css/modules/_embla-slider.scss
  src/css/modules/newsletter-boxen-slider.scss
Due: yarn stylelint --fix

kleine Änderung in newsletter-Slider
  src/components/modules/slider/slider--newsletter-boxen.hbs
Due: none

Disabled -Button-Farben ändern
  src/components/atoms-and-molecules/buttons/buttons.hbs
  src/components/modules/slider/slider--newsletter-boxen.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]registrierung/[anzeigenservice]registrierung--bestaetigt.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]registrierung/[anzeigenservice]registrierung--copy3.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]registrierung/[anzeigenservice]registrierung.hbs
  src/components/pages/landing-pages/epaper/epaper.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.hbs
  src/css/app.scss
  src/css/modules/form-elements.scss
  src/css/modules/newsletter-boxen-slider.scss
  src/css/modules/newsletter-boxen-style.scss
Due: yarn stylelint --fix

newsletter-boxen neues Designs bauen und slider bearbeiten
  src/components/modules/slider/slider--newsletter-boxen.hbs
  src/components/modules/slider/slider.config.json
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.hbs
  src/css/modules/newsletter-boxen-slider.scss
  src/css/modules/newsletter-boxen-style.scss
  tailwind.config.js
Due: yarn stylelint --fix

slider bearbeiten und newsletter-anmeldenboxen bearbeiten
  src/components/modules/slider/slider--newsletter-boxen.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.hbs
  src/css/modules/newsletter-boxen-style.scss
  src/js/modules/embla-slider.ts
Due: yarn eslint --fix, yarn stylelint --fix

problem in eilmeldung lösen
  src/components/fragments/eilmeldung/eilmeldung.hbs
Due: none

einige Änderungen
  src/components/fragments/eilmeldung/eilmeldung.hbs
  src/components/modules/slider/slider--newsletter-boxen.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.hbs
Due: none

kleine Änderung
  src/components/fragments/eilmeldung/eilmeldung.hbs
Due: none

neue Änderungen in newsletter-Boxen
  src/components/modules/newsletter-boxen-notifications/newsletter-boxen-notifications.hbs
  src/components/modules/newsletter-boxen-notifications/newsletter-boxen-notificatons.config.json
  src/components/modules/slider/slider--newsletter-boxen.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--default2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-title2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.hbs
  src/css/modules/newsletter-boxen-style.scss
Due: yarn stylelint --fix

Abo-Seite bauen
  src/components/modules/notification/notification.hbs
  src/components/pages/Abos/abo-seite/abo-seite.config.json
  src/components/pages/Abos/abo-seite/abo-seite.hbs
  src/static/images/right.svg
Due: none

Neue Änderungen in der Abo-Seite
  src/components/pages/Abos/abo-seite/abo-seite.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]login/[anzeigenservice]login--icon-login.hbs
Due: none

.hyphenate in patch.scss hinzufügen
  src/css/modules/patch.scss
Due: yarn stylelint --fix

neue Änderungen im Design in newsletter
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.hbs
Due: none

abo-seite bearbeiten
  src/components/pages/Abos/abo-seite/abo-seite.hbs
Due: none

Die neuen Ändeungen im Design im Newsletter
  src/components/modules/ breadcrumb/breadcrumb.hbs
  src/components/modules/breadcrumb/breadcrumb.config.json
  src/components/modules/breadcrumb/breadcrumb.hbs
  src/components/modules/newsletter-boxen-notifications/newsletter-boxen-notifications.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.hbs
  src/css/app.scss
  src/css/modules/header.scss
Due: yarn stylelint --fix

Neue Änderung in der Abo-Seite
  src/components/pages/Abos/abo-seite/abo-seite.hbs
Due: none

Änderungen in der Abo-Seite
  src/components/pages/Abos/abo-seite/abo-seite.hbs
Due: none

em-ad-supperbanner Klasse hinzufügen und icon-login-box bearbeiten
  src/components/pages/Abos/abo-seite/abo-seite.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]login/[anzeigenservice]login--icon-login.hbs
  src/css/modules/patch.scss
Due: yarn stylelint --fix

Einige Anweisungen in app.CC in header.scss kommentieren
  src/css/modules/header.scss
Due: yarn stylelint --fix

overlay-nw-bauen
  src/components/modules/overlay/overlay-nw/overlay-nw--gradient.hbs
  src/components/pages/news-app/news-app.hbs
  src/css/modules/header.scss
Due: yarn stylelint --fix

einige App.CSS Klassen löschen
  src/css/modules/header.scss
Due: yarn stylelint --fix

app.css bearbeiten
  src/css/modules/header.scss
Due: yarn stylelint --fix

newsletter-boxen neue Variante bauen. Abo-Seite bearbeiten
  src/components/modules/overlay/overlay-nw/overlay-nw--gradient.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--autoren.hbs
Due: none

kleine Ändeungen in der Aboseite und tailwind.config.js
  src/components/modules/overlay/overlay-nw/overlay-nw--gradient.hbs
  tailwind.config.js
Due: none

Newsletter Feedback
  src/components/modules/slider/slider--newsletter-boxen.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--autoren.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--default2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-title2.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.hbs
  src/css/modules/header.scss
Due: yarn stylelint --fix

newsletter bearbeiten
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--autoren.hbs
Due: none

autoren mit region bauen
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--autoren-region.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--default2.hbs
Due: none

login-box scriptcode bearbeitem und an´melden-box bearbeiten
  src/components/modules/newsletter-boxen-notifications/newsletter-boxen-notifications.hbs
  src/components/pages/anzeigenservice/[anzeigenservice]login/[anzeigenservice]login--icon-login.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--autoren.hbs
  src/js/app.ts
  src/js/modules/login-box.js
Due: yarn eslint --fix

icon-login ändern
  src/components/pages/anzeigenservice/[anzeigenservice]login/[anzeigenservice]login--icon-login.hbs
Due: none

paywall-overlay-spiegel- passwort-wiederholen Seite
  PASSWORTÄNDERNSSO.php
  passwortwiederholen-in-test-system.php
  src/components/modules/overlay/paywall-overlay-spiegel/paywall-overlay-spiegel.config.json
  src/components/modules/overlay/paywall-overlay-spiegel/paywall-overlay-spiegel.hbs
Due: none

hk seite Dteien, und einige Änderungen in der Anmeldboxen seiten
  Register-ok-live-new.php
  Register-ok-live-origin.php
  Register-ok-test-new.php
  Register-ok-test-origin.php
  abo-v2-test-hk.php
  cregister-test-new.php
  cregister-test-origin.php
  login-epaper-test-system.php
  login-original-test-29-10.php
  login-probe-test-28-10.php
  login-service-test-system.php
  register-live-new-o.php
  register-live-origin.php
  register-test-origin.php
  short-register-new.php
  short-register-origin.php
  src/components/pages/anzeigenservice/[anzeigenservice]login/[anzeigenservice]login.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--autoren.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region-und-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-region.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen--mit-title.hbs
  src/components/pages/landing-pages/newsletter-boxen/newsletter-boxen.hbs
  test-hk-abo-probe.php
Due: none
